- image_url = locals[:image_url]
.gr-image-carousel__image{style: "background-image: url(#{image_url})", data: {image_title: locals[:image_text]}, class: "orientation-#{locals[:image_orientation]}"}

    
