.row.admin__intro
  .col-sm-12
    %h1 Quizzes

.row.admin__actions
  .col-sm-12
    = link_to 'Create a New Quiz', new_admin_survey_path, class: 'btn btn-primary'

.row
  .col-sm-12
    %table.table
      %tbody
        - @surveys.each do |survey|
          %tr
            %td
              = render survey

- content_for :page_js do
  :javascript
    if ($('[data-behavior~=survey-copy-in-progress]').length > 0) {
      new App.Admin.SurveyCopyingsChannel()
    }