.row.admin__intro
  .col-sm-12
    %h1 Profile Trait Matches

.row.admin__actions
  .col-sm-12
    = link_to 'Adjust Question Impacts', trait_training_set_questions_path(@trait_training_set), class: 'btn btn-primary'


.row
  .col-sm-6
    %p Please choose a survey response from the list to the right.
  .col-sm-3.col-sm-offset-3
    %h3 Responses
    = render 'responses_list'