.row
  .col-xs-10.col-xs-offset-1
    .text-center
      %h1.about-page__header.fancy Returns and Exchanges
    
    .row.about-page__subsection
      .about-page__subsection-text
        %p 
          At Wrapt, our goal is to help you gift better, but sometimes a gift may not be quite right or she may already have something similar. In that case, we allow you to exchange the gift you purchased for Wrapt credit. Returned gifts must be received in perfect condition within 14 days of original purchase. Contact 
          %a(href="mailto:orders@wrapt.com")
            orders@wrapt.com
          to arrange a return for credit. Returns and credit transactions must be conducted with the same credit card used for the original purchase. 
        %p
          International orders are final. 
        
