- content_for :after_wrapper do
  .wrapper--full-bleed__bg-02.mb1
    .container
      .sg-question__container
        .row
          .col-xs-12
            %h2.about-page__header Are you Ready to Gift Better?
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1
            .sg-question
              = render 'shared/start_quiz'
        .text-center
          = embedded_svg('icon-gift-better-gift-wrapt', class: "landing-bottom__icon-gift-better-gift-wrapt mt6")
