.home__hero
  .container.home__hero-text
    .row
      .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        %h1.light.text-center
          Gift Better.
          %br
          Gift Wrapt.
.container.home__hero-text-secondary
  .row
    .col-lg-8.col-lg-offset-2
      %p.home__hero-text-secondary__p.light.text-center
        We use the science of gifting to find the best gifts for you,
        %br
        while doing a little good in the world

  .container
    .row
      .hero-overrun.col-sm-10.col-sm-offset-1
        = simple_form_for @question_response, url: with_invitation_scope(profiles_path), html: {data: {behavior: 'question-response-form'}, class: 'sqr-form'} do |form|
          - if current_user&.admin?
            = hidden_field_tag :survey_id, @survey.id
          = render response_fields_partial, form: form, label: @question_response.survey_question.prompt
          .sqr-submit__container.text-right#js-sqr-submit__container
            %button{type: "submit", class: 'btn btn-primary sqr-submit__btn', data: {behavior: 'next-question-button'}}
              Start Quiz

- content_for :after_wrapper do
  =render 'home/after_wrapper'
