.row
  .col-sm-6.col-sm-offset-3
    %h1 Wrapt

    %p Please enter your code to access the private alpha

    = simple_form_for @private_access_session, url: private_access_session_path do |form|
      = form.input :access_code, as: :password
      .form-actions
        = form.submit "Get Access", class: 'btn btn-primary'