.container
  .row
    .col-sm-4
      %h1 Reset Your Password
      %p Enter your new password below

      = simple_form_for @password_reset do |form|
        .form-inputs
          = form.input :password

        .form-actions
          = form.submit 'Reset Password', class: 'btn btn-primary'
        
        %p= link_to 'Return to Sign In'