- if product_image.image_processed?
  = image_tag product_image.image_url(:small), alt: product_image.product&.title
- else
  .admin__image-loading-wrapper
    = image_tag 'ajax-loader.gif', class: 'loading-spinner'
