%p
  Redirecting...
= form_for @product_image, url: admin_product_images_path(@product), html: {class: 'form form-inline admin__image-upload-form', data: {auto_submit_form: true}} do |form|
  = form.hidden_field :key

:javascript
  $('[data-auto-submit-form]')[0].submit()