:sass
  .multi-choice-flex
    display: flex !important
    width: 90%
    flex-flow: row wrap
    justify-content: space-around
    label
      flex-basis: 14%
  .even-order
    background-color: white
  .odd-order
    background-color: #FEFEF2

