.row.admin__intro
  .col-sm-12
    %h1 Trait Training Set Questions

.row.admin__actions
  .col-sm-12
    = link_to "View Trait Matches", admin_trait_training_set_evaluations_path(@trait_training_set), class: 'btn btn-primary'

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Question
          %th Profile Trait Facet
          %th
      %tbody
        - @trait_training_set_questions.joins(:question).order('survey_questions.sort_order asc').each do |trait_training_set_question|
          %tr
            
            %td
              %i.question-list__icon{class: trait_training_set_question.question.system_type_label}
              = trait_training_set_question.question&.prompt
            %td= trait_training_set_question.facet&.name
            %td
              = link_to 'Adjust Response Impacts', edit_admin_trait_training_set_question_path(@trait_training_set, trait_training_set_question), class: 'btn btn-default btn-xs'