%table.table.table-striped
  %thead
    %tr
      %th Who
      %th What
      %th When
  %tbody
    - versions.each do |version|
      %tr
        %td=User.where(id: version.whodunnit).first&.name || version.whodunnit
        %td
          - version.changeset.each do |attr,diff|
            %i=attr.titleize
            changed
            from
            %strong=diff[0].presence || '<i>nothing</i>'.html_safe
            to
            %strong=diff[1].presence || '<i>nothing</i>'.html_safe
            %br
        %td= format_date(version.created_at)
