.row
  .col-sm-12
    %h1 Edit Tag

.row
  .col-sm-8
    = render 'form', url: profile_traits_topic_facet_tag_path(@topic, @facet, @tag)

    .links__view-back
      = link_to 'Back', profile_traits_topic_facet_tags_path(@topic, @facet)
