%label Is:
- @conditional_question.options.each do |option|
  .admin--conditional-question-option-wrapper
    %input{name: type: 'checkbox', checked: ('checked' if option_input_checked?(option), name: option_input_name(option), value: option.id }
      = option.text