.container
  .row
    .col-sm-12
      %h1 My Account

      %h2
        General Information
        = link_to 'Edit', edit_my_account_path, class: 'btn btn-sm btn-default'

  .row
    .col-sm-3
      %p
        %b= @user.first_name
        %br
        First Name
    .col-sm-3
      %p
        %b= @user.last_name
        %br
        Last Name
    .col-sm-3
      %p
        %b= @user.email
        %br
        Email Address
    .col-sm-3
      %p
        &nbsp;
        %br
        Password
