.bg-gray-001 {
  background-color: $gray-001;
}
.bg-gray-002 {
  background-color: $gray-002;
}
.bg-gray-003 {
  background-color: $gray-003;
}
.bg-gray-005 {
  background-color: $gray-005;
}
.bg-gray-007 {
  background-color: $gray-007;
}
.bg-gray-008 {
  background-color: $gray-008;
}
.bg-gray-010 {
  background-color: $gray-010;
}
.bg-black {
  background-color: $black;
}
.bg-blue-001 {
  background-color: $blue-001;
}
.bg-blue-002 {
  background-color: $blue-002;
}
.bg-blue-003 {
  background-color: $blue-003;
}
.bg-blue-004 {
  background-color: $blue-004;
}
.bg-tan-001 {
  background-color: $tan-001;
}
.bg-tan-002 {
  background-color: $tan-002;
}
.bg-orange-001 {
  background-color: $orange-001;
}
.bg-green-001 {
  background-color: $green-001;
}
.bg-green-002 {
  background-color: $green-002;
}
.bg-red-001 {
  background-color: $red-001;
}