%h1 Editing training_set_product_question

= render 'form', url: training_set_product_question_path(@training_set, @training_set_product_question)

= link_to 'Show', @training_set_product_question
\|
= link_to 'Back', training_set_product_questions_path
