%p
  %b Training set:
  = @training_set_product_question.training_set.name
%p
  %b Product:
  = link_to @training_set_product_question.product.title, @training_set_product_question.product
%p
  %b Question:
  = @training_set_product_question.survey_question.prompt

= link_to 'Edit', edit_training_set_product_question_path(@training_set_product_question)

