.row.breadcrumbs
  .col-sm-12
    = link_to "Topics".html_safe, admin_profile_traits_topics_path
    &raquo;
    = @topic.name
    &raquo;
    = link_to "Facets", admin_profile_traits_topic_facets_path(@topic)
