---
http_interactions:
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/transactions/create
    body:
      encoding: UTF-8
      string: '{"companyCode":"DEFAULT","type":"SalesOrder","commit":"false","date":"2017-10-19","customerCode":"40","currency_code":"USD","ReferenceCode":"WRAPT-000-000-03A","Email":"user4@example.com","addresses":{"shipTo":{"line1":"10109
        Floyd","city":"Overland Park","region":"KS","country":"US","postalCode":"66212"}},"lines":[{"amount":0.0,"taxCode":"FR000000","description":"shipping
        cost to wrapt","addresses":{"shipFrom":{"line1":"14321 Norwood","city":"Leawood","region":"KS","country":"US","postalCode":"66212"}}},{"amount":"10.0","taxCode":"P0000000","description":"title
        6","Ref1":"Vendor: vendor10","Ref2":"PO PO-000-000-03B","addresses":{"shipFrom":{"line1":"14321
        Norwood","city":"Leawood","region":"KS","country":"US","postalCode":"66212"}}}]}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;17.9.0;"
      Authorization:
      - Basic dGJsYWNrbWFuQGdyZWVucml2ZXIuY29tOllDSzRsI0NQZCp1YkM4ekloQzI5
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - "/api/v2/companies/0/transactions/0"
      serverduration:
      - '00:00:00.0690009'
      databasecalls:
      - '1'
      databaseduration:
      - '00:00:00.0009947'
      serviceduration:
      - '00:00:00.0650021'
    body:
      encoding: UTF-8
      string: '{"id":0,"code":"28834031-a467-4491-95a0-d613b329d293","companyId":0,"date":"2017-10-19","paymentDate":"2017-10-19","status":"Temporary","type":"SalesOrder","customerVendorCode":"40","reconciled":false,"referenceCode":"WRAPT-000-000-03A","totalAmount":10.0,"totalExempt":10.0,"totalTax":0.0,"totalTaxable":0.0,"totalTaxCalculated":0.0,"adjustmentReason":"NotAdjusted","locked":false,"version":1,"exchangeRateEffectiveDate":"2017-10-19","exchangeRate":1.0,"isSellerImporterOfRecord":false,"email":"user4@example.com","modifiedDate":"2017-10-19T14:46:27.1407639Z","modifiedUserId":302311,"taxDate":"0001-01-01T00:00:00","lines":[{"id":0,"transactionId":0,"lineNumber":"1","description":"shipping
        cost to wrapt","discountAmount":0.0,"exemptAmount":0.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":0.0,"quantity":0.0,"reportingDate":"2017-10-19","tax":0.0,"taxableAmount":0.0,"taxCalculated":0.0,"taxCode":"FR000000","taxCodeId":8550,"taxDate":"2017-10-19","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"KS","exemptAmount":0.0,"jurisCode":"20","jurisName":"KANSAS","stateAssignedNo":"","jurisType":"STA","nonTaxableAmount":0.0,"rate":0.0,"tax":0.0,"taxableAmount":0.0,"taxType":"Sales","taxName":"KS
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.0,"rateType":"General","rateTypeCode":"G"}]},{"id":0,"transactionId":0,"lineNumber":"2","description":"title
        6","discountAmount":0.0,"exemptAmount":10.0,"exemptCertId":0,"isItemTaxable":true,"lineAmount":10.0,"quantity":0.0,"ref1":"Vendor:
        vendor10","ref2":"PO PO-000-000-03B","reportingDate":"2017-10-19","tax":0.0,"taxableAmount":0.0,"taxCalculated":0.0,"taxCode":"P0000000","taxCodeId":8087,"taxDate":"2017-10-19","taxIncluded":false,"details":[{"id":0,"transactionLineId":0,"transactionId":0,"country":"US","region":"KS","exemptAmount":0.0,"jurisCode":"20","jurisName":"KANSAS","stateAssignedNo":"","jurisType":"STA","nonTaxableAmount":10.0,"rate":0.0,"tax":0.0,"taxableAmount":0.0,"taxType":"Sales","taxName":"KS
        STATE TAX","taxAuthorityTypeId":45,"taxCalculated":0.0,"rateType":"General","rateTypeCode":"G"}]}],"addresses":[{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"14321
        Norwood","line2":"","line3":"","city":"Leawood","region":"KS","postalCode":"66212","country":"US","taxRegionId":2068003,"latitude":"38.957385","longitude":"-94.682091"},{"id":0,"transactionId":0,"boundaryLevel":"Zip5","line1":"10109
        Floyd","line2":"","line3":"","city":"Overland Park","region":"KS","postalCode":"66212","country":"US","taxRegionId":0,"latitude":"0","longitude":"0"}],"summary":[{"country":"US","region":"KS","jurisType":"State","jurisCode":"20","jurisName":"KANSAS","taxAuthorityType":45,"stateAssignedNo":"","taxType":"Sales","taxName":"KS
        STATE TAX","rateType":"General","taxable":0.0,"rate":0.0,"tax":0.0,"taxCalculated":0.0,"nonTaxable":10.0,"exemption":0.0}]}'
  recorded_at: Thu, 19 Oct 2017 14:46:28 GMT
- request:
    method: post
    uri: https://sandbox-rest.avatax.com/api/v2/companies/DEFAULT/transactions/28834031-a467-4491-95a0-d613b329d293/commit
    body:
      encoding: UTF-8
      string: '{"commit":true}'
    headers:
      X-Avalara-Client:
      - ";;RubySdk;17.9.0;"
      Authorization:
      - Basic dGJsYWNrbWFuQGdyZWVucml2ZXIuY29tOllDSzRsI0NQZCp1YkM4ekloQzI5
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      serverduration:
      - '00:00:00.0030023'
      databasecalls:
      - '2'
      databaseduration:
      - '00:00:00.0010008'
      serviceduration:
      - '00:00:00'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"EntityNotFoundError","message":"Document not found.","target":"HttpRequest","details":[{"code":"EntityNotFoundError","number":4,"message":"Document
        not found.","description":"The Document with ID ''DEFAULT:28834031-a467-4491-95a0-d613b329d293''
        was not found.","faultCode":"Client","helpLink":"http://developer.avalara.com/avatax/errors/EntityNotFoundError","severity":"Error"}]}}'
  recorded_at: Thu, 19 Oct 2017 14:46:28 GMT
recorded_with: VCR 3.0.3
