- @_selected_gift_ids ||= profile.gift_selections.pluck(:gift_id)
- if gift_selection.gift_id.in? @_selected_gift_ids
  = submit_tag 'ADDDED TO BASKET', class: 'btn btn-primary', disabled: true
- else
  = submit_tag 'ADD TO BASKET', class: 'btn btn-primary'