- image_url = @gift_image.image_url(:small)
- zoom_url = @gift_image.image_url(:large)
- index = @gift_image_index
- parent_slide_index = @gift_index

= content_for :gift_image_nav do
  = render 'gift_image_nav'
.gr-image-carousel__image{style: "background-image: url(#{image_url});", data: {zoom_image: image_path(zoom_url)}}


    
