%span.gr__indicator-thumbnail
  %span.gr__indicator-inactive-overlay
  - if locals[:image]
    = image_tag locals[:image]&.image_url(:small), alt: locals[:gift].title, class: "orientation-#{locals[:image].orientation}", onClick: "ga('send', 'event', 'recommendation', 'navigation', 'gift thumbnail');"