.container
  .row
    .col-xs-12
      %h1.text-center
        = "#{@profile.name}'s Gift Recommendations"
      %p.lead.tan-002.ph2.text-center.hidden-xs
        ="Wrapt found these items uniquely suited to #{@profile.name} based on her personality, passions, & purpose.".html_safe
  .row.wrapt-carousel--wrapper
    .col-xs-12
      - if @gift_recommendations.any?
        .gr-pjax-carousel{data: {pjax_carousel: true}}
          - @override_gr_carousel_id = 'initial'  
          = render 'show'
  
- content_for :page_js do
  :javascript
    new window.PjaxCarousel(".gr-pjax-carousel[data-pjax-carousel]", ".gr-carousel__gift-container", "[data-loads-in-pjax-carousel]");




