.row
  .col-xs-12
    %h1 Need a new password?

    .center-block.mb4
      %p.lead We'll send you a link right away so you can reset your password and get back to business!

    = simple_form_for @password_reset_request, html: {data: {submits_to_pjax_modal: true}} do |form|
      .form-inputs
        = form.input :email, label: 'Email Address'

      .form-actions
        = form.submit 'Submit', class: 'btn btn-primary btn-full-width'
      
      %p.text-center.mt4.mb0= link_to 'Return to Sign in', new_user_session_path, data: {loads_in_pjax_modal: true}
