- content_for :page_js do
  :javascript

    var changeEventHandler = function(input) {
      var group = $(input).parents('.form-group');
      var inputs = $(group).find('input');
      inputs.each(function() {
        var label = $(this).parents('label');
        if($(this).is(':checked')) {
          label.addClass('selected');
        } else {
          label.removeClass('selected');
        }
      })
    }

    var otherOptionHandler = function(input) {
      var group = $(input).parents('.form-group');
      var id = group.data('other-id');
      var other_input = group.find('input[value="'+id+'"]');
      var response = $(input).parents('.j-bq-question-response');
      var other_text_wrapper = response.find('[data-behavior="other-text-input-wrapper"]');
      if($(other_input).is(':checked')) {
        other_text_wrapper.slideDown();
      } else {
        other_text_wrapper.slideUp();
        other_text_wrapper.find('input').val('');
      }
    }

    var showExplanationHandler = function(input) {
      var id = $(input).find('input').val();
      $('.j-bq-explanation[data-option-id="'+id+'"]').show()
    }

    var hideExplanationHandler = function(input) {
      var id = $(input).find('input').val();
      $('.j-bq-explanation[data-option-id="'+id+'"]').hide()
    }

    $(document).ready(function() {
      var form = $('form.edit_survey_response');
      var selected = form.find('input:checked');
      selected.each(function() {
        $(this).parents('label').addClass('selected')
      });
      var inputs = form.find('.radio input').add(form.find('.checkbox input'));
      var labels = form.find('.radio label').add(form.find('.checkbox label'));
      inputs.on('change', function() {
        changeEventHandler(this);
        otherOptionHandler(this);
      });
      labels.on('mouseenter', function() {
        $(this).addClass('selected');
        showExplanationHandler(this);
      });
      labels.on('mouseout', function() {
        if(!$(this).find('input').is(':checked')) {
          $(this).removeClass('selected');
        }
        hideExplanationHandler(this);
      });
    })


