.container.home__after-hero
  .row
    .col-xs-12.col-sm-10.col-sm-offset-1
      %h3.text-center.home__after-hero__site-description.light Wrapt is a fun and easy way to find inspired gifts that match who they are, with stories they will love.
  .row
    .col-xs-12
      .new-quiz__about
        .new-quiz__about-intro-wrapper
          .new-quiz__about-intro-content
            %h2.light.mb1
              How Wrapt Works

        .row.home__about-steps
          .col-sm-4.col-xs-12.about-step
            .about-step-number.text-center.light 1
            .text-center
              %h4.about-step__header Give us a few basics.
            %p.about-step__description Answer some optional questions about their personality, passions and purpose–it will help us match gifts to them better!

          .col-sm-4.col-xs-12.about-step
            .about-step-number.light 2
            %h4.about-step__header We will recommend unique, artisanal items, lovingly made with stories that inspire.
            %p.about-step__description We’ll share stories about our artisans and impact from each purchase.

          .col-sm-4.col-xs-12.about-step
            .about-step-number.light 3
            %h4.about-step__header We send to your gift recipient, Wrapt and delivered, with love.
            %p.about-step__description Wrapt is ready for your next gift occasion with your profiles saved with their interests, passions and favorites.


.home__gift-examples
  .home__gift-example
    .flyover.top
      %h1.home__flyover-header.light Impact
    = image_tag "gift-example__bag.jpg"
    .flyover.bottom
      %p.home__flyover-description
        Made by a social enterprise in India, these JOYN bags are 100% handmade.

  .home__gift-example
    .flyover.top
      %h1.home__flyover-header.light Impact
    = image_tag "gift-example__glass.jpg"
    .flyover.bottom
      %p.home__flyover-description
        Supporting ancient glass blowing (since the eighth century) as an art form in Murano Italy (Venice).

  .home__gift-example
    .flyover.top
      %h1.home__flyover-header.light Impact
    = image_tag "gift-example__earrings.jpg"
    .flyover.bottom
      %p.home__flyover-description
        Hand made by artisan jeweler Kristin Ford, who combines precious stones with metals to make meaning.

.text-center
  = embedded_svg 'icon-gift-better-gift-wrapt'
