:ruby
  images = [
    {
      src: "home-page-carousel/vase-600-min.jpg", 
      srcset: [
        ["home-page-carousel/vase-600-min.jpg", "600w"],
        ["home-page-carousel/vase-1200-min.jpg", "1200w"],
        ["home-page-carousel/vase-2240-min.jpg", "2240w"]
      ],
      alt: "Handmade ceramic vase by Le Souk Ceramique",
      text: ["Gift Love.", "Because you don't tell her enough."]
    },
    {
      src: "home-page-carousel/soap-600-min.jpg", 
      srcset: [
        ["home-page-carousel/soap-600-min.jpg", "600w"],
        ["home-page-carousel/soap-1200-min.jpg", "1200w"],
        ["home-page-carousel/soap-2240-min.jpg", "2240w"]
      ],
      alt: "Pampering Soaps from Aria by Lucia",
      text: ["Gift Well-Being.", "Just Because."]
    },
    {
      src: "home-page-carousel/scarf-600-min.jpg", 
      srcset: [
        ["home-page-carousel/scarf-600-min.jpg", "600w"],
        ["home-page-carousel/scarf-1200-min.jpg", "1200w"],
        ["home-page-carousel/scarf-2240-min.jpg", "2240w"]
      ],
      alt: "Plum Crazy scarf by Indigo Handloom",
      text: ["Gift Joy.", "It's her Birthday."]
    }
  ]
.carousel.slide#hpb-carousel{data: {ride: 'carousel'}}
  .carousel-inner{role: 'listbox'}
    - images.each_with_index do |image, index|
      - css_classes = ['item']
      - css_classes.push('active') if index == 0
      %div{class: css_classes}
        = image_tag image[:src], srcset: image_tag_srcset(image[:srcset]), alt: image[:alt]
        .hpb-carousel-slide__text
          .hpbcs__text-container
            %h5= image[:text][0]
            %h1= image[:text][1]
            = link_to 'Get Started','#home-page-get-started', class: 'btn btn-default', data: {behavior: 'scroll-to'}
  %ol.carousel-indicators
    - images.each_with_index do |image, index|
      - css_class = index == 0 ? 'active' : ''
      %li{class: css_class, data: {target: '#hpb-carousel', slide_to: index}}

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      $('a[data-behavior="scroll-to"]').on('click', function(e) {
        e.preventDefault();
        var scrollToElementSelector = $(this).attr('href');
        $('html, body').animate({
          scrollTop: $(scrollToElementSelector).offset().top
        }, 1000);
      });
    });
