.container.home__hero-text
  .row
    .col-sm-12.col-md-8.col-md-offset-2
      %h1.light.text-center
        .rotate-words__sentence
          %span Gift
          .rotate-words__container 
            %span Better.
            %span Kindness.
            %span Peace.
            %span Compassion.
            %span Understanding.
            %span Generosity.
            %span Gratitude.
            %span Empathy.
            %span Love.
        Gift Wrapt.