.new-quiz__about
  .new-quiz__about-intro-wrapper
    .new-quiz__about-intro-content
      %h2.light.mb1 
        How Wrapt
        %sup.trademark
          &#8482;
        Works
      %p 
        Wrapt 
        %sup.trademark
          &#8482;
        is a fun and easy way to discover the perfect gifts she will love, based on who she actually is.

  .new-quiz__about-step.step-1.left
    %h4.light Tell Us About Her
    %p Help us understand what makers her ‘tick’ by answering a few questions about her personality, passions, and purpose.

  .new-quiz__about-step.step-2.right
    %h4.light We Suggests Gifts She’ll Love
    %p Based on your answers, we then match her with gifts from our curated collection of artisanal items, memorable experiences, or practical funds.

  .new-quiz__about-step.step-3.left
    %h4.light 
      Wrapt 
      %sup.trademark
        &#8482;
      &amp; Delivered
    %p She receives a gift she loves, wrapt and delivered, and you will gain a personal  'gift whisperer' that can help you surprise her with meaningful gifts for every occasion.