.new-quiz__about
  .new-quiz__about-intro-wrapper
    .new-quiz__about-intro-content
      %h2.light.mb1
        How Wrapt Works

  .row
    .col-sm-4
      %h4.light Give us a few basics.
      %p Answer some optional questions about their personality, passions and purpose–it will help us match gifts to them better!

    .col-sm-4
      %h4.light We will recommend unique, artisanal items, lovingly made with stories that inspire.
      %p We’ll share stories about our artisans and impact from each purchase.

    .col-sm-4
      %h4.light We send to your gift recipient, Wrapt and delivered, with love.
      %p Wrapt is ready for your next gift occasion with your profiles saved with their interests, passions and favorites.
