.wrapper--full-bleed__bg-03.wfb-include-border.pb5.mb5  
  .container.hpl__container
    .row
      .col-xs-12
        .pb3
          %h3.text-center.light ReWrapt
          %p.home__about-intro.text-center 
            Stories about impact
        .home__gift-examples-carousel
          = carousel(carousel: load_home_page_carousel_data, unique_carousel_name: 'hgec-carousel', slide_content_singular: 'example')

.text-center
  = embedded_svg('icon-gift-better-gift-wrapt', class: "landing-bottom__icon-gift-better-gift-wrapt mt4")

- content_for :page_js do
  = render '/application/carousel_js'