- if current_user.unmoderated_testing_platform?
  = render 'funds_test'
- else
  %h1 Thank You!
  
  %p.lead.tan-002
    Thank you for being part of our Better Gifting secret and for inviting others. To show you our gratitude, we would like to send you a small token of our appreciation.
  %p.mb3
    Your participation &amp; feedback will directly impact the success of Wrapt and help to support our our mission to increase connectedness and love between people by helping them to give better, more meaningful gifts.
  
  %p.lead.tan-002
    With gratitude,
    %br
    Team Wrapt
    %sup.trademark
      &#8482;