.row
  .col-xs-12

  %h1 Thank You!

  %p 
    Thank you for participating in the Wrapt
    %sup.trademark
      &#8482;
    Beta and inviting #{@profile.name} to Wrapt.  Your participation &amp; feedback will directly impact the success of our product.

  %p
    Sincerely,
    %br
    The Wrapt Team