%h1 Wrapt with Gratitude

%p Welcome!

%p This preliminary tool allows site administrators to create a catalog of Products, design Surveys for profiling gift recipients, and create Training Sets that control how survey responses impact product recommendations.

%ul.nav.navbar-nav
  %li= link_to "Home", root_path
  %li= link_to "Products", products_path
  %li= link_to "Product Categories", product_categories_path
  %li= link_to "Surveys", surveys_path

