.row
  .col-sm-12
    %h1 Wrapt

    %p Welcome!

    %p This preliminary tool allows site administrators to:
    %ul
      %li Manage a catalog of Products
      %li Design Quizzes for creating a gift recipient portrait
      %li Manage Profile and Training Sets that drive how quiz responses impact product recommendations

    

