%div{data: {behavior: 'hidden-option-id-inputs'}}
  = form.association :survey_question_options, as: :check_boxes, collection: @question_response.survey_question.options, label_method: :text, input_html: {data: {behavior: 'option-id-input'}}

- @question_response.survey_question.options.in_groups_of(5, false).each do |option_row|
  %p Select All That Apply
  .row.option-row
    - option_row.each do |option|
      = link_to option.text, '#', class: 'btn btn-lg btn-default question_response__multiple_choice_button', data: {behavior: 'option-button', option_id: option.id}

- content_for :page_js do
  - if @question_response.survey_question.multiple_option_responses
    :javascript
      new App.MultipleChoiceChooseManyForm()