- if Rails.env.production?
  -# %script{type: 'text/javascript'}
  -#   var google_conversion_id = 853330863;
  -#   var google_conversion_label = "503kCOKgwHsQr5fzlgM";
  -#   var google_conversion_value = #{@customer_order.total_to_charge_in_dollars.to_json};
  -#   var google_conversion_currency = "USD";
  -#   var google_remarketing_only = false;

  -# %script{type: 'text/javascript', src: "//www.googleadservices.com/pagead/conversion.js"}