= render 'edit_review_summary_item', label: 'Subtotal', co_attr: :subtotal_in_cents, value_in_cents: true, value: nil
= render 'edit_review_summary_item', label: 'Tax', co_attr: :taxes_in_cents, value_in_cents: true, value: nil
- if @customer_order.gift_wrapt?
  = render 'edit_review_summary_item', label: 'Gfit Wrapt', co_attr: nil, value_in_cents: false, value: 'Complimentary'
= render 'edit_review_summary_item', label: 'Shipping', co_attr: nil, value_in_cents: true, value: @customer_order.shipping_cost_in_cents+@customer_order.handling_cost_in_cents