:ruby
  css_class = markout ? 'markout' : ''
.co-ro-summary__item.clearfix
  %div= label
  - if value_in_dollars
    - if co_attr
      %div{class: css_class}= number_with_precision(customer_order.send(co_attr), precision: 2)
    - else
      %div{class: css_class}= number_with_precision(value, precision: 2)
  - elsif value
    %div{class: css_class}= value
