.co-ro-summary__item.clearfix
  %div= label
  - if value_in_dollars
    - if co_attr
      %div= number_to_currency @customer_order.send(co_attr)
    - else
      %div= number_to_currency value
  - elsif value
    %div= value
