.co-header
  %h1.light.text-center Checkout
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      #co-progress-bar{style: 'height: 60px;'}
      
- links = [ecommerce_checkout_gift_wrapt_path(giftee_id: @profile.id), ecommerce_checkout_address_path, ecommerce_checkout_payment_path, ecommerce_checkout_review_path]
- content_for :page_js do
  :javascript
    $(document).ready(function() {
      var steps = #{@pb.steps.to_json.html_safe}
      var links = #{links.to_json.html_safe}
      var pb = new App.CheckoutProgressBar('#co-progress-bar', steps, links)
      pb.draw()
    })
