-# used in checkout review and order history
%div
  - if edit
    - link_text = customer_order.gift_wrapt? ? 'Wrapt with Love' : 'Do Not Gift Wrapt'
    - link_data = {loads_in_pjax_modal: true}
    - link_href = ecommerce_checkout_gift_wrapt_path(giftee_id: customer_order.profile_id) 
  - else
    - link_text = 'Wrapt with Love'
    - link_data = {toggle: 'collapse'}
    - if customer_order.include_note? && customer_order.gift_wrapt?
      - link_href = '#wrapt-with-love__note'
    - else
      - link_href = 'javascript:void(0);'

  - if edit || customer_order.gift_wrapt?
    %small
      = link_to link_href, data: link_data, class: 'wrapt-with-love-link uppercase' do
        = link_text
        - if customer_order.gift_wrapt? && customer_order.include_note?
          = embedded_svg('icon-page', xlink_class: 'icon-page')

- if !edit && customer_order.include_note? && customer_order.gift_wrapt?
  .collapse#wrapt-with-love__note.pa1
    .co-detail__label Your Note:
    .co-detail__item{style: 'white-space: pre;'}
      - if customer_order.note_content.present?
        %p= customer_order.note_content
      - else
        %p
          %em No content

