-# used in checkout review and order history
%div
  - if edit
    - link_text = customer_order.gift_wrapt? ? 'Wrapt with Love' : 'Do Not Gift Wrapt'
    - link_data = {loads_in_pjax_modal: true}
    - link_href = ecommerce_checkout_gift_wrapt_path(giftee_id: customer_order.profile_id) 
  - else
    - link_text = 'Wrapt with Love'
    - link_data = {toggle: 'modal'}
    - if customer_order.include_note? && customer_order.gift_wrapt? && customer_order.note_content
      - link_href = '#wrapt-with-love__note'
    - else
      - link_href = 'javascript:void(0);'

  - if edit || customer_order.gift_wrapt?
    %small
      = link_to link_href, data: link_data, class: 'wrapt-with-love-link uppercase' do
        = link_text
        - if customer_order.gift_wrapt? && customer_order.include_note?
          = embedded_svg('icon-page', xlink_class: 'icon-page')

- if !edit && customer_order.include_note? && customer_order.gift_wrapt? && customer_order.note_content
  .modal.fade#wrapt-with-love__note
    .modal-dialog
      .modal-content
        .modal-header 
          %button.close.pull-right{data: {dismiss: 'modal'}, 'aria-label' => 'close'}
            =embedded_svg('icon-close', class: 'modal__icon-close')
          %h4.light Your Note
        .modal-body
          = customer_order.note_content
