.container
  = render 'header'
  .row
    .col-xs-12.col-md-10.col-md-offset-1
      .co-container
        = render 'edit_giftee_name_form'

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      //Google Analytics Enhanced Ecommerce
      var products = #{@products_data}
      gaAddProduct(products);
      var actionData = #{@action_data};
      gaSetAction('checkout', actionData);
      ga('send', 'event', 'ecommerce', 'Checkout 2: Shipping: Giftee Name');
    })