.container
  = render 'header'
  .row
    .col-xs-12.col-md-10.col-md-offset-1
      .co-container
        = render 'edit_giftee_name_form'

- content_for :page_js do
  :javascript
    $(document).ready(function() {
      //Google Analytics Enhanced Ecommerce
      //What I think I need
      //Maybe this should happen on submit?
      
      ga('ec:setAction', 'checkout', {
        'option': 'Checkout 2: Shipping: Giftee Name', 
        'step': 2,
        'dimension1': '#{analytics_gifter_id || -1}',
        'dimension4': 'n/a'
      });
      // send event
    })