.row
  .col-sm-12
    %h1 Reports
    

:ruby
  buttons = []
  buttons << {label: "Activity Report", url: admin_reports_path, name: 'activity_report'}
  buttons << {label: "Top Gifts", url: admin_top_gifts_reports_path, name: 'top_gifts_report'}
  buttons << {label: "Response Summary", url: admin_survey_response_reports_path, name: 'survey_response_report'}

.row.admin__actions
  .col-sm-12
    - buttons.each do |button|
      :ruby
        css_classes = ['btn']
        if button[:name] == active_report_nav_section
          css_classes << 'btn-primary' 
        else
          css_classes << 'btn-default' 
        end

      = link_to button[:label], button[:url], class: css_classes
