.row.admin__intro
  .col-sm-12
    %h1 Sections

.row.admin__actions
  .col-sm-12
    = link_to 'Add a Section', new_survey_section_path, class: 'btn btn-primary'


.row
  .col-sm-12
    %ul.section-list{data: {sortable_list: true, sortable_list_href: survey_section_ordering_path(@survey)}}
      - @survey_sections.each_with_index do |survey_section, i|
        %li.mb4.section-list__item{data: {sortable_item: true, sortable_item_id: survey_section.id}}
          %i.glyphicon.glyphicon-move
          = survey_section.name
          .section-list__edit-links
            = link_to 'Edit', edit_survey_section_path(@survey, survey_section), class: 'btn btn-default btn-xs'
            = link_to 'Delete', survey_section_path(@survey, survey_section), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'


- content_for :page_js do
  :javascript
    new App.SortableList($('[data-sortable-list]')[0]);