%div{data: {question_preview: true, question_preview_href: preview_survey_question_path(@survey, @survey_question)}}
  %h2 Preview
  %h3= @survey_question.prompt
  = render preview_partial(@survey_question)