.row
  .col-sm-12
    %h1 Edit Product Category

.row
  .col-sm-6
    = render 'form'

    .links__view-back
      = link_to 'View', @product_category
      \|
      = link_to 'Back', product_categories_path
