@import "helpers";

.alert {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media (max-width: $screen-sm-max) {
    width: 90%;
  }
}
.alert-dismissable .close {
  position: absolute;
  top: 4px;
  right: 6px;
  color: $gray-001;
}
