.btn {
  line-height: 1;
  min-width: 180px;
}
.btn-narrower {
  padding-left: 20px;
  padding-right: 20px;
}
.btn:focus, 
.btn.focus,
.btn:active:focus, 
.btn:active.focus, 
.btn.active:focus, 
.btn.active.focus {
  outline: none;
  box-shadow: none;
}
.btn:active,
.btn.active {
  box-shadow: none;
}
.btn-default:hover,
.btn-default:focus {
  background-color: $gray-011;
  border-color: $blue-006;
  letter-spacing: 2px;
}
.btn-primary {
  letter-spacing: 2px;
}

.btn-default:active,
.btn-default:active:hover, 
.btn-default:active:focus, 
.btn-default:active.focus, 
.btn-default.active:hover, 
.btn-default.active:focus, 
.btn-default.active.focus {
  background-color: $blue-007;
  border-color: $blue-006;
}
.btn-primary:active:hover, 
.btn-primary:active:focus, 
.btn-primary:active.focus, 
.btn-primary.active:hover, 
.btn-primary.active:focus, 
.btn-primary.active.focus {
  background-color: $blue-008;
  border-color: $blue-008;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: $blue-008;
  border-color: $blue-008;
  box-shadow: none;
}
.btn.disabled {
  background-color: $gray-003;
  border-color: $gray-003;
}
.btn.disabled:hover,
.btn.disabled:focus {
  box-shadow: none;
}
.btn-secondary {
  background-color: $orange-001;
  border-color: $orange-001;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: tint($orange-001, 20);
  border-color: tint($orange-001, 20);
}
.btn-secondary.active,
.btn-secondary.active {
  background-color: $orange-002;
  border-color: $orange-002;
}
.btn-secondary:active:hover, 
.btn-secondary:active:focus, 
.btn-secondary:active.focus, 
.btn-secondary.active:hover, 
.btn-secondary.active:focus, 
.btn-secondary.active.focus {
  background-color: $orange-002;
  border-color: $orange-002;
  color: #fff;
}
.btn-full-width {
  width: 100%;
}
.btn-lg {
  min-width: 136px;
}
.btn-sm {
  min-width: 90px;
}
.btn-xs, 
.btn-group-xs > .btn {
  font-size: 11px;
  min-width: 80px;
}
.landing-question .btn.btn-multiple-choice-option,
.landing-question .btn.btn-multiple-choice-option:nth-child(5) {
  margin-right: 10px;
  padding-left: 18px;
  padding-right: 18px;
  min-width: initial;
}
.btn.btn-yes-no {
  width: 90px;
  min-width: initial;
  padding-left: 0;
  padding-right: 0;
  display: block;
  float: left;
}
.btn.btn-yes-no:last-child {
  border-left: none;
}
.btn.btn-multiple-choice-option {
  min-width: 158px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 13px;
  margin-bottom: 16px;
}
.btn.btn-multiple-choice-option:last-child {
  margin-right: 0;
}
.btn.btn-multiple-choice-option,
.btn.btn-yes-no {
  background-color: #fff;
  border: 1px solid $gray-005;
}
.btn.btn-multiple-choice-option:hover,
.btn.btn-yes-no:hover,
.btn.btn-multiple-choice-option:active,
.btn.btn-yes-no:active,
.btn.btn-multiple-choice-option:focus,
.btn.btn-yes-no:focus,
.btn.btn-multiple-choice-option.selected:hover, 
.btn.btn-yes-no.selected:hover {
  background-color: rgba(242, 226, 170, .60);
  letter-spacing: 0;
}
.btn.btn-multiple-choice-option.selected,
.btn.btn-yes-no.selected {
  background-color: rgba(242, 226, 170, .70);
}
.sqr-submit__btn {
  width: 162px;
  min-width: initial;
  text-transform: uppercase;
  @include akkurat-bold;
  font-size: rem(14);
  letter-spacing: 2.1px;
  padding-left: initial;
  padding-right: initial;
}

.sqr-submit__btn:disabled,
.sqr-submit__btn:disabled:hover {
  background-color: #E9ECEC;
  border: none;
}
