// contains 
//   styles for carousel_js
//   styles for specific carousels and their content

// basic styles for carousel
.wrapt-carousel {
  position: relative;
}

.wrapt-carousel__slides {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.wrapt-carousel__slide {
  display: inline-block;
  width: 100%;
  white-space: normal;
  position: relative;
}

.wrapt-carousel__slide.active {
  display: block;
}

.wrapt-carousel__slide.hidden {
  display: none;
}

.wrapt-carousel__nav {
  display: table;
  position: absolute;
  height: 100%;
  text-align: center;
  z-index: 100;
  top: 0px;
  bottom: 0px;
}

.wrapt-carousel-nav__icon-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.wrapt-carousel__nav.prev {
  left: 0px;
}

.wrapt-carousel__nav.next {
  right: 0px;
}

.wrapt-carousel__indicators {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 4px;
}

.wrapt-carousel__indicator {
  display: inline-block;
  margin-right: 20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid $gray-002;
}

.wrapt-carousel__indicator.active {
  background-color: $gray-002;
}

// gift recommendation carousel specific styles

.gr-carousel {
  margin-bottom: 100px;
}

.gr-carousel__nav {
  width: 10%;
}

.gr-carousel__indicators {
  position: static;
  margin-top: 60px;
}

.gr-carousel__indicator {
  border-radius: 0px;
  border: none;
  width: auto;
  height: auto;
}

.gr-carousel__indicator.active {
  border: 2px solid red;
}

.gr-carousel__gifts {
  width: 80%;
  margin: 0px auto;
  border: 1px solid $gray-007;
}

// gift image carousel specific styles

.gr-image-carousel__images {
  display: block;
  width: 100%;
  height: 100%;
}

.gr-image-carousel__image-container {
  height: 100%;
}

.gr-image-carousel__image {
  width: 100%;
  height: 100%;
  white-space: normal;
  background-repeat: no-repeat;
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gr-image-carousel:hover {
  .gr-image-carousel__nav.prev {
    background: linear-gradient(to right, rgba(77, 76, 77, 0.6), rgba(0, 0, 0, 0))
  }
  .gr-image-carousel__nav.next {
    background: linear-gradient(to left, rgba(77, 76, 77, 0.6), rgba(0, 0, 0, 0))
  }
}

.gr-image-carousel__indicators {
  text-align: right;
}

.gr-image-carousel__nav {
  color: $gray-002;
  .wrapt-carousel-nav__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $gray-002;
    line-height: 1;
  }
  span {
    font-size: 0.5em;
    line-height: 1;
  }
}

.gr-image-carousel__nav.prev {
  padding: 0px 30px 0px 10px;
}

.gr-image-carousel__nav.next {
  padding: 0px 10px 0px 30px;
}

// animation classes

@keyframes slideInLeft {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.slideInLeft {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideInRight {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

.slideInRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideOutLeft {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

.slideOutLeft {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideOutRight {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

.slideOutRight {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

// styles for specific carousels content

// gift recommendations carousel gift
.gr-carousel__gift {
  margin: 0px;
}

.gr-carousel__gift-dislike {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(244,246,246,0.9);
  z-index: 200;
  text-align: center;
}

.gr-carousel__gift-image,
.gr-carousel__gift-content {
  height: 100%;
  float: left;
}

.gr-carousel__gift-image {
  width: 45%;
}

.gr-carousel__gift-content {
  width: 55%;
  margin-bottom: 90px;
}

.gr-carousel__gift-actions {
  width: 55%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.gr-carousel__price,
.gr-carousel__quantity {
  display: inline-block; 
  width: 49%;
  overflow: hidden;
  vertical-align: middle;
}

.gr-carousel__price {
  font-size: rem(20);
}

.dislike-options__content {
  display: none;
  background-color: $gray-001;
  z-index: 500;
}

.dislike-options__content.fixed {
  position: absolute;
}

.dislike-options__title {
  border-bottom: 1px solid $gray-002;
}

.dislike-options__link {
  display: inline-block;
  margin: 20px 0px;
}

// gift image carousel image

.gr-image-carousel__image-text {
  width: 50%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}




