@import "helpers";

// contains
//   styles for carousel_js

// basic styles for carousel
.wrapt-carousel {
  position: relative;
}
.wrapt-carousel--wrapper {
  margin-top: 36px;
}

.wrapt-carousel__slides {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.wrapt-carousel__slide {
  display: inline-block;
  width: 100%;
  white-space: normal;
  position: relative;
}

.wrapt-carousel__slide.active {
  display: block;
}

.wrapt-carousel__slide.hidden {
  display: none;
}

// animation classes

@keyframes slideInLeft {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.slideInLeft {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideInRight {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

.slideInRight {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideOutLeft {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

.slideOutLeft {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideOutRight {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

.slideOutRight {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
a.wrapt-carousel__nav:hover,
.wrapt-carousel__nav:focus,
.wrapt-carousel__nav:active {
  background: none;
}

.gr-carousel__gifts,
.hgec-carousel__examples {
  @include floating-container;
  width: 945px;
  margin: 0px auto;
  transition: all 0.25s;
  @media (max-width: $screen-sm-max) {
    width: 100%;
  }
}

.gr-carousel__nav-container,
.hgec-carousel__nav-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

$gr-carousel-nav__width: 82.5px;
.gr-carousel__nav,
.hgec-carousel__nav {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 100px;
  margin-top: -50px;
  display: table;
}

.hgec-carousel__nav.prev {
  margin-left: $gr-carousel-nav__width - 40;
}
.gr-carousel__nav.prev {
  margin-left: $gr-carousel-nav__width - 24;
}
.hgec-carousel__nav.next {
  margin-right: $gr-carousel-nav__width - 40;
}
.gr-carousel__nav.next {
  margin-right: $gr-carousel-nav__width - 24;
}

.gr-carousel__nav-inner,
.hgec-carousel__nav-inner {
  position: absolute;
  width: 100px;
  height: 100%;
  border-radius: 50%;
  background-color: rgba($blue-005, 0.9);
}

.gr-carousel__nav-icon,
.hgec-carousel__nav-icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.gr-carousel__nav.prev,
.hgec-carousel__nav.prev {
  left: 0px;
  .gr-carousel__nav-inner {
   top: 0px;
   left: 0px;
   z-index: -100;
  }
}

.gr-carousel__nav.next,
.hgec-carousel__nav.next {
  right: 0px;
  .gr-carousel__nav-inner {
    top: 0px;
    right: 0px;
    z-index: -100;
  }
}

.gr-carousel__nav:hover,
.hgec-carousel__nav:hover {
  background-color: transparent;
  width: 50px;
  height: 118px;
  margin-top: -59px;
  .gr-carousel__nav-inner {
    background-color: rgba($blue-005, 0.25);
    width: 118px;
  }
}

.gr-carousel__nav.prev:hover,
.hgec-carousel__nav.prev:hover {
  margin-left: $gr-carousel-nav__width - 50;
}

.gr-carousel__nav.next:hover,
.hgec-carousel__nav.next:hover {
  margin-right: $gr-carousel-nav__width - 50;
}

.gr-carousel__indicators,
.hgec-carousel__indicators {
  position: static;
  margin: 63px auto 24px auto;
  text-align: center;
  width: 945px;
  @media (max-width: $screen-sm-max) {
    width: 100%;
  }
}

.gr-carousel__indicators {
  @media (max-width: $screen-xs-max) {
    position: relative;
    padding: 8px;
    position: fixed;
    margin-bottom: 0px;
    z-index: 12;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: $blue-006;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
  }
}

.hgec-carousel__indicators {
  @media(max-width: $screen-xs-max) {
    margin-top: 24px;
  }
}

.gr-carousel__indicator,
.hgec-carousel__indicator {
  border-radius: 0px;
  border: none;
  width: auto;
  height: auto;
}
.gr-carousel__indicator:hover,
.gr-carousel__indicator:focus,
.gr-carousel__indicator:active,
.hgec-carousel__indicator:hover,
.hgec-carousel__indicator:focus,
.hgec-carousel__indicator:active {
  background-color: initial;
  text-decoration: none;
}

.hgec-carousel__indicator:hover,
.hgec-carousel__indicator:focus,
.hgec-carousel__indicator:active {
  @media(max-width: $screen-xs-max) {
    background-color: $blue-006;
  }
}

.hgec-carousel__indicator {
  @media(max-width: $screen-xs-max) {
    display: inline-block;
    width: 40px;
    height: 5px;
    border: 1px solid $blue-006;
    border-radius: 4px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &.active {
      background-color: $blue-006;
    }
  }
}

.gr__indicator-inactive-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.4);
  -webkit-transition: background 1s;
  transition: background 0.5s; 
  // bug fix some indicator images are above overlay
  // z index fixes
  z-index: 2;
}
.gr-carousel__indicator:hover .gr__indicator-inactive-overlay ,
.gr-carousel__indicator:focus .gr__indicator-inactive-overlay ,
.gr-carousel__indicator:active .gr__indicator-inactive-overlay,
.hgec-carousel__indicator:hover .gr__indicator-inactive-overlay ,
.hgec-carousel__indicator:focus .gr__indicator-inactive-overlay ,
.hgec-carousel__indicator:active .gr__indicator-inactive-overlay {
  background: none;
}

.gr-carousel__indicator.active .gr__indicator-inactive-overlay,
.hgec-carousel__indicator.active .gr__indicator-inactive-overlay {
  background: none;
}

.gr__indicator-thumbnail,
.hgec__indicator-thumbnail {
  display: inline-block;
  width: 136px;
  height: 90px;
  margin-right: 18px;
  margin-bottom: 12px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hgec__indicator-thumbnail {
  @media(max-width: $screen-xs-max) {
    display: none;
  }
}

.gr__indicator-thumbnail {
  @media(max-width: $screen-xs-max) {
    margin: 0px;
    width: 16%;
    margin-right: 4%;
    height: auto;
    height: 60px;
  }
}

.hgec__indicator-thumbnail {
  background-size: cover;
  background-position: center;
}

.gr-carousel__indicator:last-child .gr__indicator-thumbnail,
.gr-carousel__indicator:nth-child(7) .gr__indicator-thumbnail {
  @media(min-width: $screen-xs-max) {
    margin-right: 0;
  }
  @media(max-width: $screen-sm-max) {
    margin-right: 18px;
  }
}
.gr-carousel__indicator img {
  width: 100%;
  vertical-align: top;
}
.gr-carousel__indicator img.orientation-portrait {
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%);
}

.gr-carousel__sm-nav-link {
  color: $gray-008;
  text-transform: uppercase;
  font-size: rem(14);
  @include akkurat-bold;
  letter-spacing: 1px;
  width: 25%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
  }
}

.gr-carousel__sm-nav-link.prev {
  text-align: left;
}

.gr-carousel__sm-nav-link.next {
  text-align: right;
}

.gr-carousel__sm-nav-link.disabled {
  pointer-events: none;
  color: $gray-006;
}

.gr-carousel__sm-nav-text {
  text-align: center;
  width: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin: 8px 0px 16px;
  font-size: rem(16);
  text-overflow: ellipsis;
}

// gift recommendations carousel gift

.gr-carousel__gift,
.hgec-carousel__example {
  height: 100%;
  margin: 0px;
}

.gr-carousel__gift-image,
.gr-carousel__gift-content,
.hgec-carousel__example-image,
.hgec-carousel__example-content {
  height: 100%;
  float: left;
  position: relative;
  @media(max-width: $screen-xs-max) {
    height: auto;
    position: static;
  }
}

.gr-carousel__gift-content {
  @media(min-width: $screen-md-min) {
    min-height: 520px;
  }
  @media(max-width: $screen-xs-max) {
    &.pr1 {
      padding-right: 2.8rem;
    }
    &.pb2 {
      padding-bottom: 115px;
    }
  }
}

.gr-carousel__gift-image,
.hgec-carousel__example-image {
  width: 45%;
  height: auto;
  min-height: 520px;
  @media(max-width: $screen-xs-max) {
    width: 100%;
    height: 400px;
    min-height: 0;
  }
}

.gr-carousel__gift-content,
.hgec-carousel__example-content {
  width: 55%;
  height: 520px;
  padding-bottom: 115px;
  @media(max-width: $screen-xs-max) {
    width: 100%;
    height: auto;
    position: static;
    padding-bottom: 0px;
  }
}

.gr-carousel__like,
.gr-carousel__dislike {
  float: left;
}
.gr-carousel__like {
  @media(max-width: $screen-xs-max) {
    margin-right: -10px;
  }
}

.gr-carousel__dislike .btn-group.open .dropdown-toggle,
.gr-carousel__like .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.gift_dislike_reason,
.gift_like_reason {
  letter-spacing: 1.38px;
  font-size: 11px;
}

.gr-carousel__dislike a, .gr-carousel__like a {
  background-color: rgba($blue-005, 0.35);
  padding: 12px 12px 3px;
  display: inline-block;
  color: $blue-003;
  stroke: $blue-003;
  stroke-width: 2px;
  fill: transparent;
}
.gr-carousel__dislike a:hover,
.gr-carousel__dislike a:focus,
.gr-carousel__dislike a:active,
.gr-carousel__like a:hover,
.gr-carousel__like a:focus,
.gr-carousel__like a:active {
  background-color: rgba($blue-005, 0.25);
}

.gr-carousel__dislike a.gift_dislike_reason,
.gr-carousel__like a.gift_like_reason,{
  background-color: transparent;
}
.gr-carousel__dislike a.gift_dislike_reason:hover,
.gr-carousel__dislike a.gift_dislike_reason:focus,
.gr-carousel__dislike a.gift_dislike_reason:active,
.gr-carousel__like a.gift_like_reason:hover,
.gr-carousel__like a.gift_like_reason:focus,
.gr-carousel__like a.gift_like_reason:active {
  background-color: lighten($blue-005, 10);
}
a.disliked {
  background-color: $orange-003;
  color: $orange-001;
  // padding: 7px 12px 0px;
}
a.disliked:hover,
a.disliked:active,
a.disliked:focus {
  text-decoration: none;
  background-color: darken($orange-003, 5);
}

a.liked {
  fill: $blue-003;
}

a.liked:hover,
a.liked:active,
a.liked:focus {
  text-decoration: none;
}



.gr-carousel__dislike .small-02,
.gr-carousel__like .small-02 {
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
}

.gr-carousel__dislike .dropdown-menu,
.gr-carousel__like .dropdown-menu {
  background-color: $blue-005;
  margin-top: 10px;
  background-clip: inherit;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
}

.gr-carousel__dislike .dropdown-menu {
    width: 200px;
}

.gr-carousel__like .dropdown-menu {
    width: 300px;
}

.gr-carousel__dislike li,
.gr-carousel__like li {
  margin-bottom: 0;
}

.gr-carousel__dislike .dropdown-menu:after,
.gr-carousel__like .dropdown-menu:after {
  content: '';
  position: absolute;
  top: -5px;
  right: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $blue-005;
}


.gr-dislike__form {
  padding: 10px 0 0 15px;
}
.gr-dislike__form .form-group {
  margin-bottom: 0px;
}
.gr-dislike__forminput {
  display: none;
}
.gr-dislike__form .radio label {
  padding: 0px;
}
.gr-dislike__form input[type="radio"] {
  margin-top: 0px;
  margin-bottom: 0px;
  visibility: hidden;
}

.gr-carousel__gift-content {
  position: relative;
}

.gr-carousel__gift-details {
  max-width: 430px;
  padding-right: 10px;
  padding-bottom: 72px;
  max-height: 300px;
  overflow: auto;
  @media(max-width: $screen-xs-max) {
    padding-bottom: 0px;
    max-height: none;
  }
}

.gr-carousel__gift-actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  @media(max-width: $screen-xs-max) {
    position: static;
    margin-bottom: 2.8rem;
  }
}

.gr-carousel__price,
.gr-carousel__quantity {
  position: absolute;
  bottom: 40px;
}
.gr-carousel__quantity {
  right: 30px;
  @media(max-width: $screen-xs-max) {
    position: static;
    input {
      width: 100%;
    }
  }
}
.gr-carousel__price {
  left: 28px;
  @media(max-width: $screen-xs-max) {
    position: static;
  }
}

.gr-carousel__price {
  line-height: 56px;
  margin-bottom: 0px;
}

// gift image carousel specific styles

.gr-image-carousel {
  min-height: 520px;
  @media(max-width: $screen-xs-max) {
    min-height: 400px;
  }
}

.gr-image-carousel__images {
  display: block;
  width: 100%;
  height: 100%;
}

.gr-image-carousel__image-container {
  height: 100%;
}

.gr-image-carousel__image {
  white-space: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $gray-009;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.gr-image-carousel__image.orientation-portrait {
  height: 100%;
  width: inherit;
}
.gr-image-carousel__image.orientation-square,
.gr-image-carousel__image.orientation-landscape {
  width: 100%;
  height: inherit;
}

.gr-image-carousel__image-text {
  display: inline-block;
  width: 300px;
  color: #FFFFFF;
}

.gr-image-carousel__nav-links {
  display: inline-block;
  margin-left: 15px;
}

.gr-image-carousel__nav-container {
  z-index: 10;
  width: 400px;
  position: absolute;
  bottom: 40px;
  background-color: rgba(51, 51, 51, .8);
  height: 56px;
  @media(max-width: $screen-md-max) {
    width: 80%;
  }
}
.gr-image-carousel__nav {
  height: 56px;
  width: 56px;
  padding-top: 13px;
  padding-left: 24px;
  display: inline-block;
}
.gr-image-carousel__nav:hover,
.gr-image-carousel__nav:focus,
.gr-image-carousel__nav:active {
  background-color: $gray-010;
}
.gr-image-carousel__nav.prev {
  margin-right: -4px;
}