// contains 
//   styles for carousel_js

// basic styles for carousel
.wrapt-carousel {
  position: relative;
}
.wrapt-carousel--wrapper {
  margin-top: 36px;
}

.wrapt-carousel__slides {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.wrapt-carousel__slide {
  display: inline-block;
  width: 100%;
  white-space: normal;
  position: relative;
}

.wrapt-carousel__slide.active {
  display: block;
}

.wrapt-carousel__slide.hidden {
  display: none;
}

// animation classes

@keyframes slideInLeft {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.slideInLeft {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideInRight {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

.slideInRight {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideOutLeft {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

.slideOutLeft {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes slideOutRight {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

.slideOutRight {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
a.wrapt-carousel__nav:hover,
.wrapt-carousel__nav:focus,
.wrapt-carousel__nav:active {
  background: none;
}







