@import "helpers";

.wrapt-with-love-link svg {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
}

#co-progress-bar {
  position: relative;
}

#co-progress-bar a {
  position: absolute;
  display: inline-block;
  width: 25%;
  height: 60px;
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }
}

.co-progress-bar__disabled {
  cursor: not-allowed;
}

.co-container {
  @include shadowed-box__gray;
  background-color: #FFFFFF;
  padding: 32px;
  margin: 40px 0px;
  position: relative;

  button[type="submit"] {
    position: absolute;
    right: 32px;
    bottom: -28px;
  }
}

.co-ro-container {
  button[type="submit"] {
    position: static;
    text-transform: uppercase;
    @include akkurat-bold;
    font-size: 14px;
  }
}

.co-confirmation-container {
  h4 {
    margin-bottom: 30px;
    font-size: 20px;
    color: $gray-007;
  }
  button {
    text-transform: uppercase;
    @include akkurat-bold;
    font-size: 14px;
  }
}

.co-toggle label {
  border: 1px solid #CCCCCC;
  padding: 16px 24px;
  cursor: pointer;
  text-transform: uppercase;
  @include akkurat-light;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.co-toggle label:not(:last-child) {
  border-right: none;
}

.co-toggle label.selected {
  background-color: rgba(241, 226, 176, 0.5);
  @include akkurat-bold;
}

.co-add-a-note {
  margin-bottom: 40px;
  h4, .form-group {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-bottom: 0px;
  }
  h4 {
    margin: 0px 40px 0px 0px;
  }
}

.co-select-my-address,
.co-select-shipping {
  label {
    width: 33%;
    padding-right: 40px;
    margin-bottom: 40px;
    float: left;
    @include akkurat-light;
  }
  label small {
    color: $gray-006;
    margin-top: -4px;
    font-size: 12px;
    display: block;
    @include akkurat-light;
  }
}

.co-detail {
  @media(max-width: $screen-xs-max) {
    margin-bottom: 20px;
  }
}

.co-detail__label,
.co-detail__item {
  font-size: 14px;
}

.co-detail__label {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.co-detail__item {
  color: $gray-007;
}

.co-ro-item__img {
  display: inline-block;
  width: 19%;
  overflow: hidden;
  vertical-align: middle;
  padding-right: 16px;
  box-sizing: border-box;
  @media(max-width: $screen-sm-max) {
    width: 41%
  }
}

.co-ro-item__details {
  display: inline-block;
  width: 80%;
  overflow: hidden;
  vertical-align: middle;
  line-height: 1.2;
  @media(max-width: $screen-sm-max) {
    width: 56%
  }
  h4 {
    font-size: 20px;
  }
  h4, h5 {
    margin-bottom: 6px;
    line-height: 1.2;
  }
  a {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 1.2px;
  }
}

.co-ro-summary {
  h4 {
    font-size: 20px;
  }
}

.co-ro-summary__total {
  h4, h5 {
    margin-bottom: 0px;
    line-height: 1;
  }
  h4 {
    float: left;
  }
  h5 {
    float: right;
  }
}

.co-ro-summary__item {
  color: $gray-007;
  font-size: 14px;
  div:first-child {
    float: left;
  }
  div:last-child {
    float: right;
  }
}

.co-ro-summary__item:last-child {
  margin-bottom: 40px;
}

