@import "helpers";

@font-face {
    font-family: "Akkurat-Regular";
    src:url(font-path('lineto-akkurat-regular.eot'));
    src:url(font-path('lineto-akkurat-regular.eot?#iefix')) format("embedded-opentype"),
        url(font-path('lineto-akkurat-regular.woff2')) format("woff2"),
        url(font-path('lineto-akkurat-regular.woff')) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Akkurat-Light";
    src:url(font-path('lineto-akkurat-light.eot'));
    src:url(font-path('lineto-akkurat-light.eot?#iefix')) format("embedded-opentype"),
        url(font-path('lineto-akkurat-light.woff2')) format("woff2"),
        url(font-path('lineto-akkurat-light.woff')) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Akkurat-Bold";
    src:url(font-path('lineto-akkurat-bold.eot'));
    src:url(font-path('lineto-akkurat-bold.eot?#iefix')) format("embedded-opentype"),
        url(font-path('lineto-akkurat-bold.woff2')) format("woff2"),
        url(font-path('lineto-akkurat-bold.woff')) format("woff");
    font-weight: normal;
    font-style: normal;
}
