@import "helpers";

// fix the footer to the bottom of the page
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px;
}
body.modal-body {
  margin-bottom: 0;
}
.footer__links {
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  font-size: rem(12);
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: $gray-006;
}
.footer__link-item {
  display: inline-block;
  // float: left;
  margin-right: 10px;
  margin-bottom: 0;
  line-height: 1.4;
}
footer li:after {
  content: '\00a0|';
}
footer li:last-child:after {
  content: '';
}
footer li a {
  color: $gray-006;
  cursor: pointer;
  &:hover {
    // color: $gray-006;
    text-decoration: none;
  }
}
