@import "helpers";

// fix the footer to the bottom of the page
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px;
}
body.modal-body {
  margin-bottom: 0;
}
.footer__links {
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  font-size: rem(12);
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: $gray-006;
  padding-left: 0px;
}
.footer__link-item {
  display: inline-block;
  // float: left;
  margin-right: 10px;
  margin-bottom: 0;
  line-height: 1.4;
}
footer li:after {
  content: '\00a0|';
}
footer li:last-child:after {
  content: '';
}
footer li a {
  color: $gray-006;
  cursor: pointer;
  &:hover {
    // color: $gray-006;
    text-decoration: none;
  }
}

// Blue Background New Home Page Footer
body.hero-bg {
  margin-bottom: 0;
}
// .hero-bg .footer {
//   background-color: $blue-001;
// }

// .hero-bg footer li a,
// .hero-bg .footer__links {
//   color: white;
// }

.footer__social-links {
  margin-bottom: 12px;
  text-align: center;
}

.footer__social_link {
  display: inline-block;
  margin: 0 4px;
  color: $blue-001;;
  font-size: rem(18);
  border-radius: 50%;
  border: solid $blue-001 1px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  &:hover, &:active, &:focus {
    color: white;
    background-color: transparent;
  }
}
// .home .footer__social_link,
.profiles.new .footer__social_link {
  color: white;
  border: solid white 1px;
  &:hover, &:active, &:focus {
    color: white;
    background-color: transparent;
  }
}

.footer .container {
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}
