// gift recommendation carousel specific styles

.gr-carousel__gifts {
  @include floating-container;
  width: 945px;
  margin: 0px auto;
}

.gr-carousel__nav-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

$gr-carousel-nav__width: 82.5px;
.gr-carousel__nav {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 100px;
  margin-top: -50px;
  display: table;
}

.gr-carousel__nav.prev {
  margin-left: $gr-carousel-nav__width - 40;
}

.gr-carousel__nav.next {
  margin-right: $gr-carousel-nav__width - 40;
}

.gr-carousel__nav-inner {
  position: absolute;
  width: 100px;
  height: 100%;
  border-radius: 50%;
  background-color: rgba($blue-005, 0.1);
}

.gr-carousel__nav-icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.gr-carousel__nav.prev {
  left: 0px;
  .gr-carousel__nav-inner {
   top: 0px;
   left: 0px;
  }
}

.gr-carousel__nav.next {
  right: 0px;
  .gr-carousel__nav-inner {
    top: 0px;
    right: 0px;
  }
}

.gr-carousel__nav:hover {
  background-color: transparent;
  width: 50px;
  height: 118px;
  margin-top: -59px;
  .gr-carousel__nav-inner {
    background-color: rgba($blue-005, 0.25);
    width: 118px;
  }
}

.gr-carousel__nav.prev:hover {
  margin-left: $gr-carousel-nav__width - 50;
}

.gr-carousel__nav.next:hover {
  margin-right: $gr-carousel-nav__width - 50;
}

.gr-carousel__indicators {
  position: static;
  margin-top: 63px;
  text-align: center;
}

.gr-carousel__indicator {
  border-radius: 0px;
  border: none;
  width: auto;
  height: auto;
}
.gr-carousel__indicator:hover,
.gr-carousel__indicator:focus,
.gr-carousel__indicator:active {
  background-color: initial;
  text-decoration: none;
}

.gr__indicator-inactive-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.4);
}
.gr-carousel__indicator:hover .gr__indicator-inactive-overlay ,
.gr-carousel__indicator:focus .gr__indicator-inactive-overlay ,
.gr-carousel__indicator:active .gr__indicator-inactive-overlay  {
  background: none;
}

.gr-carousel__indicator.active .gr__indicator-inactive-overlay {
  display: none;
}

.gr__indicator-thumbnail {
  display: inline-block;
  width: 136px;
  height: 90px;
  margin-right: 22px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.gr-carousel__indicator:last-child .gr-carousel__thumbnail {
  margin-right: 0;
}

.gr-carousel__indicator img {
  width: 100%;
}

// gift recommendations carousel gift

.gr-carousel__gift {
  height: 100%;
  margin: 0px;
}

.gr-carousel__gift-image,
.gr-carousel__gift-content {
  height: 100%;
  float: left;
  position: relative;
}

.gr-carousel__gift-image {
  width: 45%;
}

.gr-carousel__gift-content {
  width: 55%;
}

.gr-carousel__dislike .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.gift_dislike_reason {
  letter-spacing: 1.38px;
  font-size: 11px;
}
.gift_dislike_reason .radio label {
  min-height: 24px;
}
.gr-carousel__dislike a {
  background-color: $blue-010;
  padding: 12px 12px 3px;
  display: inline-block;
}
.gr-carousel__dislike a:hover,
.gr-carousel__dislike a:focus,
.gr-carousel__dislike a:active {
  background-color: rgba($blue-005, 0.25);
}
a.disliked {
  background-color: $orange-003;
  color: $orange-001;
  padding: 7px 12px 0px;
}
a.disliked:hover,
a.disliked:active,
a.disliked:focus {
  text-decoration: none;
  background-color: darken($orange-003, 5);
}
.gr-carousel__dislike .small-02 {
  display: inline-block;
  vertical-align: top;
  padding-top: 3px;
}

.gr-carousel__dislike .dropdown-menu {
  background-color: $blue-005;
  width: 200px;
  margin-top: 10px;
  background-clip: inherit;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
}
.gr-carousel__dislike li {
  margin-bottom: 0;
}

.gr-carousel__dislike .dropdown-menu:after {
  content: '';
  position: absolute;
  top: -5px;
  right: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $blue-005;
}


.gr-dislike__form {
  padding: 10px 0 0 15px;
}
.gr-dislike__form .form-group {
  margin-bottom: 0px;
}
.gr-dislike__forminput {
  display: none;
}
.gr-dislike__form .radio label {
  padding: 0px;
}
.gr-dislike__form input[type="radio"] {
  margin-top: 0px;
  margin-bottom: 0px;
  visibility: hidden;
}

.gr-carousel__gift-details {
  min-height: 228px;
  max-height: 228px;
  overflow: scroll;
  width: 430px;
  padding-right: 10px;
}

.gr-carousel__gift-actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.gr-carousel__price,
.gr-carousel__quantity {
  position: absolute;
  bottom: 40px;
}
.gr-carousel__quantity {
  right: 30px;
}
.gr-carousel__price {
  left: 28px;
}

.gr-carousel__price {
  line-height: 56px;
  margin-bottom: 0px;
}

// gift image carousel specific styles

.gr-image-carousel__images {
  display: block;
  width: 100%;
  height: 100%;
}

.gr-image-carousel__image-container {
  height: 100%;
}

.gr-image-carousel__image {
  // width: 100%;
  // height: 100%;
  white-space: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $gray-009;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: relative;
}
.gr-image-carousel__image.orientation-portrait {
  height: 100%;
  width: inherit;
}
.gr-image-carousel__image.orientation-square,
.gr-image-carousel__image.orientation-landscape {
  width: 100%;
  height: inherit;
}

.gr-image-carousel__image-text {
  display: inline-block;
  width: 300px;
  color: #FFFFFF;
}

.gr-image-carousel__nav-links {
  display: inline-block;
  margin-left: 15px;
}

.gr-image-carousel__nav-container {
  z-index: 10;
  width: 400px;
  position: absolute;
  bottom: 40px;
  background-color: $gray-010;
  height: 56px;
}
.gr-image-carousel__nav {
  height: 56px;
  width: 56px;
  padding-top: 13px;
  padding-left: 24px;
  display: inline-block;
}
.gr-image-carousel__nav:hover,
.gr-image-carousel__nav:focus,
.gr-image-carousel__nav:active {
  background-color: $gray-010;
}
.gr-image-carousel__nav.prev {
  margin-right: -4px;
}

