// gift recommendation carousel specific styles (moved to carousel)
// also used on the recipient review page
@import "helpers";

.gift_recommendations h1 {
  @media(max-width: $screen-xs-max) {
    font-size: 3.9rem;
  }
}

.gr-pages__container {
  min-height: 28px;
  position: relative;
  .gr-pages__next,
  .gr-pages__prev {
    position: absolute;
  }
  .gr-pages__next {
    right: 0px;
  }
  .gr-pages__prev {
    left: 0px;
  }
}

.survey_response_completions .modal-dialog {
  width: 90%;
  max-width: 945px;
  margin: 100px auto;
  overflow: auto;
  @media(max-width: $screen-xs-max) {
    margin: 30px auto;
  }
  .lost-password-container {
    max-width: 800px;
  }
}

.gr-carousel-more-recommendations__overlay {
  background-color: rgba(111,111,111,0.7);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: $zIndex-10;
}

.gr-carousel-more-recommendations__content {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: $zIndex-10;
  background-color: rgba($blue-008, 0.8);
  color: #FFFFFF;
  text-align: center;
  padding: 16px;
  @include flexbox();
  align-items: center;
  a {
    color: #FFFFFF;
    fill: #FFFFFF;
  }
  input[type=submit] {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    width: 100%;
    max-width: 300px;
    padding: 6px 20px;
    margin-bottom: 32px;
  }
  input[type=submit]:hover,
  input[type=submit]:active,
  input[type=submit]:focus {
    background-color: rgba(#333, 0.1);
  }
  @media(max-width: $screen-xs-max) {
    position: fixed;
  }
}

.gr-cmr__close {
  position: absolute;
  right: 16px;
  top: 16px;
}

.gr-cmrc__content {
  @include flex(1);

}


.recommendations-intro__next-step {
  background-color: rgba(170, 186, 213, 0.45);
  width: 500px;
  margin: 0 auto;
  padding: 20px 12px 1px 0;
}
.recommendations-intro__next-step__ul {
  margin-bottom: 0;
}
.recommendation-intro__next-step__li {
  padding-bottom: 0;
  margin-bottom: 0;
}
.recommendations-intro__next-step a {
  color: $gray-008;
  text-decoration: underline;
}
.recommendations-intro__next-step a:hover,
.recommendations-intro__next-step a:active,
.recommendations-intro__next-step a:focus {
  background-color: transparent;
  text-decoration: none;
}
.recommendations-intro__next-step h4 {
  padding-left: 18px;
}

.quiz-complete__text {
  @media(max-width: $screen-xs-max) {
    &.pa3 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.quiz-complete__form {
  .form-group {
    margin-bottom: 20px;
  }
  .pa4 {
    padding: 0px;
  }
}