.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.navbar-static-top__icon-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: none;
  stroke-width: 20px;
  stroke: $blue-001;
}
a:hover .navbar-static-top__icon-circle,
a:active .navbar-static-top__icon-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: $blue-001;
  stroke-width: 20px;
  stroke: $blue-001;
}
.sqr-section-icon__heart {
  margin-top: 8px;
  stroke: $tan-002;
  stroke-width: 2px;
  fill: none;
  width: 33px;
  height: 28px;
}
#wrapt-logo .cls-1 {
  fill: $blue-001;
}
.navbar-brand__icon-wrapt-logo {
  height: 40px;
  width: 90px;
}
.btn__icon-caret-right {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-left: 28px;
  margin-top: -2px;
}
.sqr-previous__icon--caret-left,
.gr-carousel__nav--caret-left,
.gr-carousel__nav--caret-right {
  width: 14px;
  height: 14px;
  fill: $blue-005;
}
.gr-carousel__image-nav--caret-left,
.gr-carousel__image-nav--caret-right {
  fill: lighten($gray-006, 10);
  width: 10px;
  height: 10px;
}
.modal__icon-close {
  width: 22px;
  height: 22px;
}
use.icon-dislike-use .path1,
use.icon-dislike-use .path2 {
  stroke: $blue-009;
  stroke-weight: 1px;
}
.recommendation__icon-dislike,
.recommendation__icon-disliked {
  width: 19px;
  height: 18px;
}
use.icon-disliked-use .path1,
use.icon-disliked-use .path2 {
  stroke: $orange-001;
}
svg.recommendation__icon-disliked path,
svg.recommendation__icon-disliked path {
  stroke: inherit;
  stroke-weight: inherit;
}
// #icon-close .st0 {
//   fill: $gray-010;
// }