.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.navbar-static-top__icon-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: none;
  stroke-width: 20px;
  stroke: $blue-001;
}
a:hover .navbar-static-top__icon-circle,
a:active .navbar-static-top__icon-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  fill: $blue-001;
  stroke-width: 20px;
  stroke: $blue-001;
}
.sqr-section-icon__heart {
  margin-top: 8px;
  stroke: $tan-002;
  stroke-width: 2px;
  fill: none;
  width: 33px;
  height: 28px;
}
#wrapt-logo .cls-1 {
  fill: $blue-001;
}
.navbar-brand__icon-wrapt-logo {
  height: 40px;
}