// Styles for Welcoming pages with the full-bleed hero images
// e.g. Home Page and Quiz Landing page

body.hero-bg .wrapper--full-bleed__bg-03{
  background-image: image-url('hero-image');
  background-size: 100vw;
  background-repeat: no-repeat;
}

.main-header {
  text-align: center;
}

.hero-overlay p {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.83px;
}

.hero-overrun {
  margin-top: 100px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 0 9px 2px rgba(0,0,0,0.05);
}

.invitation_request_email label {
  letter-spacing: 1px;
}

.invitation_request_email input {
  border-color: $gray-005;
}

.hero-overrun .btn.btn-multiple-choice-option {
  min-width: 148px;
}
.new-quiz__about h4 {
  margin-bottom: 6px;
}
.new-quiz__about p {
  color: $gray-007;
}
.new-quiz__about-intro-wrapper {
  margin: 72px 0;
  width: 100%;
  @media (max-width: $screen-xs-max) {
    margin: 48px 0;
  }
}

.new-quiz__about-intro-content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  border-bottom: solid 2px $gray-004;
  @media (max-width: $screen-xs-max) {
    padding-bottom: 24px;
    width: 90%;
  }
}
.new-quiz__about-intro-content.border-dark {
  border-color: rgba(77, 76, 77, 0.2);
  max-width: 668px;
  padding-bottom: 23px;
}

.new-quiz__about-step {
  margin-bottom: 18px;
  padding-top: 100px;
  background-repeat: no-repeat;
}

.new-quiz__about-step.left {
  text-align: left;
  background-position: top left;
  padding-left: 108px;
  padding-right: 200px;
  @media (max-width: $screen-sm-max) {
    padding-right: 0;
  }
}

.new-quiz__about-step.right {
  text-align: right;
  background-position: top right;
  padding-right: 108px;
  padding-left: 200px;
  @media (max-width: $screen-sm-max) {
    padding-left: 0;
  }
}

.new-quiz__about-step.step-1 {
  background-image: image-url('about-step-1.png');
}
.new-quiz__about-step.step-2 {
  background-image: image-url('about-step-2.png');
}
.new-quiz__about-step.step-3 {
  background-image: image-url('about-step-3.png');
  margin-bottom: 100px;
}

.new-quiz__after-wrapper {
  padding-bottom: 104px;
}

.new-quiz__gift-examples {
  @include flexbox();
  max-width: 1200px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
    width: 100%;
  }
  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    max-width: 90%;
    justify-content: flex-start;
  }
  overflow: hidden;
}

.new-quiz__gift-example {
  @include akkurat-light;
  @include flex(0);
  flex-basis: 32%;
  &:last-child { margin-right: 0;}
  background-color: white;
  position: relative;
  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    max-width: initial;
    flex-basis: 100%;
    margin-bottom: 24px;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 355px;
  }
}

.new-quiz__gift-example-image {
  position: relative;
}
.new-quiz__gift-example-image img {
  width: 100%;
}

.new-quiz__gift-example-badge {
  // @include vertical-align(absolute);
  position: absolute;
  bottom: -36px;
  left: 24px;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: $orange-002;
  text-align: center;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 60px;
    height: 60px;
    left: 18px;
    bottom: -30px;
  }
}

.new-quiz__gift-example-badge svg {
  @include vertical-align();
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    height: 30px;
    width: 30px;
  }
}

.new-quiz__gift-example-text {
  padding: 50px 24px 30px;
  @media (min-width: $screen-sm-min) and (max-width: $screen-lg-min) {
    padding: 40px 24px 30px;
  }
}

.new-quiz__gift-example h4 {
  font-weight: normal;
}
// Home-page specific to make it look good on mobile
body.home,
.home .navbar-fixed-top,
.home .navbar-fixed-bottom {
  min-width: initial;
}
.home .container {
  width: initial;
}
.home .hero-overlay {
  @media (max-width: 1055px) {
    width: 80%;
  }
  @media (max-width: 989px) {
    width: 100%;
    padding-bottom: 8px;
  }
  @media (max-width: 830px) {
    background-color: rgba(0, 0, 0, 0.4);
    padding-right: 24px;
  }
  @media (max-width: 770px) {
    margin-top: 155px;
    background-color: $gray-006;
  }
  @media (max-width: 600px) {
    margin-top: 50px;
  }
}
.home .hero-overlay h2 {
  @media (max-width: 868px) {
    font-size: rem(24);
  }
}
.home .hero-overlay p {
  @media (max-width: 868px) {
    font-size: rem(16);
  }
}
.home .navbar-brand {
  @media (max-width: 560px) {
    padding-top: 12px;
  }
}
.home .hero-overrun {
  @media (max-width: 780px) {
    margin-top: 20px;
  }
}
.home {
  margin-bottom: 0;
}

.home__gift-examples {
  display: flex;
  width: 100%;
  @media (max-width: $screen-xs-max) {
    flex-direction: column;
  }
}

.home__gift-example {
  position: relative;
  overflow: hidden;
}

.home__gift-example img {
  width: 100%;
}

.home__bottom-logo {
  margin-top: 80px;
  border: solid 2px $blue-001;
}

.home__gift-example .flyover {
  height: 0;
  position: absolute;
  background-color: $gray-012;
  width: 100%;
  height: 33%;
  transform: translateY(-100%);
  overflow: hidden;
  // animation: shrink-to-0-height 0.33s;
}

.home__gift-example:hover .flyover {
  display: block;
  height: 33%;
  transform: translateY(0);
  // animation: grow-to-33-height 0.33s;
}

.home__gift-example .flyover.top {
  top: 0;
  transform-origin: top;
  transform: translateY(-100%);
  animation: fly-out-to-top 0.33s;
}
.home__gift-example:hover .flyover.top {
  transform: translateY(0);
  animation: fly-in-from-top 0.33s;
}

.home__gift-example .flyover.bottom {
  bottom: 0;
  opacity: 0.8;
  transform-origin: bottom;
  transform: translateY(100%);
  animation: fly-out-to-bottom 0.33s;
}
.home__gift-example:hover .flyover.bottom {
  transform: translateY(0);
  animation: fly-in-from-bottom 0.33s;
}

@keyframes fly-in-from-top {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes fly-out-to-top {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

@keyframes fly-in-from-bottom {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes fly-out-to-bottom {
  0% { transform: translateY(0); }
  100% { transform: translateY(100%); }
}
