@import "helpers";

.modal-dialog {
  width: 748px;
}
.modal-content {
  @include shadowed-box__05;
  border: 0;
  background-color: $blue-010;
}
.modal-backdrop.in {
  opacity: .3;
}
.modal-header {
  border-bottom: 0;
}
.modal-body {
  padding: 8px 48px 62px;
}
.modal h1 {
  text-align: center;
  letter-spacing: initial;
  margin-bottom: 8px;
}
.modal p.lead {
  font-size: rem(20);
  text-align: center;
  line-height: 1.4;
  margin-bottom: 63px;
}
.modal .center-block {
  width: 75%;
}
.modal .alert {
  width: 90%;
}
