@import "helpers";

.ma-title {
  display: inline-block;
  line-height: 23px;
  @media(max-width: $screen-xs-max) {
    display: block;
  }
  margin-bottom: 30px;
}

.ma-title__text {
  h5 {
    line-height: 25px;
    margin-bottom: 0px;
    padding-right: 20px;
  }
}

.ma-title__action .btn {
  text-transform: uppercase;
  color: $gray-006;
  @include akkurat-regular;
  letter-spacing: 1px;
}
.ma-general-info__item {
  margin-bottom: 30px;
}
.ma-general-info__item small {
  color: $gray-007;
}