@import "helpers";

.ma-page-header {
  margin-bottom: 40px;
}

.ma-page-header__title {
  padding-top: 12px;
}

.ma-page-header__action {
  text-align: right;
}

.ma-title {
  display: inline-block;
  line-height: 23px;
  @media(max-width: $screen-xs-max) {
    display: block;
  }
}

.ma-title__text {
  h5 {
    line-height: 25px;
    margin-bottom: 0px;
    padding-right: 20px;
    a {
      color: $gray-008;
    }
  }
  svg {
    width: 10px;
    height: 10px;
    fill: $gray-008;
    stroke: $gray-008;
    color: $gray-008;
  }
}

.ma-filter-toggle__link {
  color: $gray-007;
  text-transform: capitalize;
  font-size: 80%;
  @include akkurat-light;
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: $gray-007;
    text-decoration: none;
  }
  svg {
    width: 10px;
    height: 10px;
    color: $gray-007;
    fill: $gray-007;
    stroke: $gray-007;
    margin-left: 10px;
  }
}
.ma-general-info__item {
  margin-bottom: 30px;
}
.ma-general-info__item small {
  color: $gray-007;
}

.ma-filters a,
.ma-order__toggle-content a {
  display: block;
  margin-bottom: 8px;
  @include akkurat-regular;
  color: $gray-010;
  font-size: 75%;
  letter-spacing: 1px;
  &:hover,
  &:active,
  &:focus {
    color: $gray-007;
    background-color: transparent;
    text-decoration: none;
  }
}

.ma-filters a:last-child,
.ma-order__toggle-content a:last-child {
  margin-bottom: 0px;
}

.ma-orders__table {
  table-layout: fixed;
  width: 100%;
  font-size: 90%;
  @include akkurat-light;
  th {
    color: $gray-007;
  }
  th, td {
    padding: 0px 5px 10px;
  }
  tr td:first-child,
  tr th:first-child {
    padding-left: 0px;
  }
  tr td:last-child,
  tr th:last-child {
    padding-right: 0px;
  }
}

.ma-order__trigger {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid $blue-006;
  position: relative;
  text-align: center;
  svg {
    position: relative;
    top: -3px;
    width: 10px;
    height: 10px;
    color: $blue-006;
    fill: $blue-006;
    stroke: $blue-006;
  }
}

.ma-order__toggle-content {
  text-align: left;
  &.right {
    right: -4px;
  }
  &.left {
    left: -4px;
  }
}

.ma-giftee-card {
  margin-bottom: 30px;
  background-color: #FFFFFF;
  position: relative;
  @include shadowed-box__gray;
}

.ma-giftee-card__header {
  padding: 16px;
  padding-bottom: 0px;
  @include shadowed-box__gray-small;
  position: relative;
  z-index: 2;
}

.ma-giftee__name {
  font-size: 20px;
  @include akkurat-regular;
  line-height: 1.5;
  padding: 16px;
  small {
    display: block;
    font-size: 14px;
    color: $gray-006;
    @include akkurat-light;
  }
}

.ma-giftee-card__action {
  position: absolute;
  top: 8px;
  right: 8px;
}

.ma-giftee-card__content {
  // @include shadowed-box__gray;
  padding: 16px;
  background-color: #FDFDFD;
  position: relative;
  z-index: 1;
}

.ma-giftee-details__table {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 200px;
  font-size: 13px;
  .ma-gd__tr {
    display: table-row;
    @media(max-width: $screen-xs-max) {
      display: block;
      margin-bottom: 20px
    }
  }
  .ma-gd__th,
  .ma-gd__td {
    display: table-cell;
    @media(max-width: $screen-xs-max) {
      display: block;
    }
  }
  .ma-gd__td {
    vertical-align: top;
    padding: 10px;
    @media(max-width: $screen-xs-max) {
      padding: 0px 16px;
    }
  }
  .ma-gd__th:first-child {
    width: 140px;
  }
  .ma-gd__td:first-child {
    color: $gray-006;
  }
  .ma-gd__td:last-child {
    a {
      color: $gray-005;
    }
  }
}

.ma-giftee-reminders {
  min-height: 200px;
}





