@import "helpers";

.navbar-toggle {
  background-color: $blue-001;
  border-radius: 50%;
  height: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  opacity: 0.8;
  .icon-bar {
    background-color: #FFFFFF;
  }
}

.navbar-toggle__close {
  display: none;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 32px;
  line-height: 44px;
  padding: 0px;
  color: $blue-001;
  opacity: 0.8;
  @media(max-width: $screen-xs-max) {
    display: inline-block;
  }
}

.navbar-toggle,
.navbar-toggle__close {
  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
  &:focus {
    outline: auto 5px -webkit-focus-ring-color;
  }
}

.top-navigation__container {
  padding: 10px 15px;
  width: 100%;
  @media (min-width: 1140px) {
    width: 1140px;
    height: 120px;
    padding: 30px 15px;
  }
}

.top-navigation__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-navigation__menu {
  transition: opacity 0.5s ease-in-out;
  @media(max-width: $screen-xs-max) {
    width: 100vw;
    height: 100vh;
    padding-top: 91px;
    opacity: 0;
    overflow: hidden;
    z-index: 100;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: $blue-001;
  }
}

.top-navigation__menu.tnm__closed {
  @media(max-width: $screen-xs-max) {
    height: 0px;
    padding-top: 0px;
  }
}

.top-navigation__menu.tnm-fade__in {
  @media(max-width: $screen-xs-max) {
    opacity: 1;
  }
}

.top-navigation__menu.tnm-fade__out {
  @media(max-width: $screen-xs-max) {
    opacity: 0; 
  }
}

.top-navigation__menu-item {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  @include akkurat-bold;
  color: $gray-008;
  padding: 0 15px;
  @media(max-width: $screen-xs-max) {
    display: block;
    text-align: center;
    font-size: 16px;
    &:not(:first-of-type) {
      margin-top: 40px;
    }
    svg{display:none;}
  }
}

.top-navigation__menu-item a {
  color: $gray-008;
  @media(max-width: $screen-xs-max) {
    color: #FFFFFF;
    svg{display: none;}
  }
}

.top-navigation__menu-item a:hover,
.top-navigation__menu-item a:active,
.top-navigation__menu-item a:focus {
  text-decoration: none;
  background-color: transparent;
  @media(max-width: $screen-xs-max) {
    svg{display: none;}
  }
}

.top-navigation__brand-link {
  position: relative;
  height: 61px;
  display: block;
}
.top-navigation__brand-link:hover,
.top-navigation__brand-link:focus,
.top-navigation__brand-link:active {
  background-color: transparent;
}
.top-navigation__brand-link span {
  position: absolute;
  left: -9999px;
}

.nav li {
  margin-bottom: 0;
}
.nav a {
  cursor: pointer;
}


// .navbar--secondary unused except in style guide
.navbar--secondary {
  text-align: center;
  font-size: rem(18);
  margin-bottom: 45px;
}
.navbar--secondary .navbar-nav {
  float: none;
  display: inline-block;
}
.navbar--secondary .navbar-nav {
  @include wrapt-border(2px, 0, 2px, 0);
}
.navbar--secondary li a {
  color: $gray-010;
  padding: 24px 34px;
  margin: 0 16px;
  line-height: 1;
}
.navbar--secondary li:first-child a {
  margin-left: 0;
}
.navbar--secondary li:last-child a {
  margin-right: 0;
}
.navbar--secondary li a:hover,
.navbar--secondary li a:focus {
  color: $blue-002;
  @include wrapt-border(0, 0, 4px, 0);
}
.navbar--secondary li.active a {
  color: $blue-002;
  @include wrapt-border(0, 0, 4px, 0)
}
.gift-basket-count {
  background-color: $blue-004;
  padding: 5px 8px;
  margin-left: 4px;
  &.empty {
    display: none;
  }
}
.navbar-default .navbar-nav > li > a:hover .gift-basket-count,
.navbar-default .navbar-nav > li > a:focus .gift-basket-count,
.navbar-default .navbar-nav > li > a:active .gift-basket-count {
  color: $gray-008;
}

// My Account sub nav START

.ma-container {
  margin-top: 40px;
}

.ma-subnav-mobile-trigger {
  @media(min-width: $screen-sm-min) {
    display: none;
  }
  display: block;
  background-color: #FFFFFF;
  border: 1px solid $blue-006;
  padding: 8px 16px;
  text-transform: uppercase;
  @include akkurat-bold;
  letter-spacing: 1px;
  font-size: 80%;
  color: #000000;
  position: relative;
  span {
    display: none;
    position: absolute;
    right: 16px;
  }
  svg {
    width: 10px;
    height: 10px;
    fill: $blue-002;
    stroke: $blue-002;
    color: $blue-002;
  }
}

.ma-subnav-mobile-trigger:active,
.ma-subnav-mobile-trigger:focus,
.ma-subnav-mobile-trigger:hover {
  background-color: #FFFFFF;
  text-decoration: none;
  color: #000000;
}

.ma-subnav-mobile-trigger[aria-expanded="true"] {
  margin-bottom: 6px;
  span.open {
    display: inline;
  }
}

.ma-subnav-mobile-trigger[aria-expanded="false"] {
  margin-bottom: 30px;
  span.closed {
    display: inline;
  }
}

.ma-subnav {
  @include shadowed-box__gray;
  margin-bottom: 20px;
  @media(min-width: $screen-sm-min) {
    box-shadow: none;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 40px;
    &.collapse.in {
      display: table;
    }
  }
}

.ma-subnav__row {
  @media(min-width: $screen-sm-min) {
    display: table-row;
  }
}

.ma-subnav__link {
  display: table-cell;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid $blue-006;
  border-right: 1px solid $blue-006;
  border-bottom: 1px solid $blue-006;
  a {
    border-bottom: 4px solid transparent;
    display: block;
    padding: 10px 14px 6px;
    color: $gray-006;
    @include akkurat-regular;
    letter-spacing: 1px;
    font-size: 80%;
  }
  a:hover,
  a:active,
  a:focus,
  &.active a {
    border-bottom: 4px solid $blue-006;
    text-decoration: none;
    background-color: #FFFFFF;
    color: #000000;
  }
}

.ma-subnav__link:first-child {
  border-left: 1px solid $blue-006;
  @media(max-width: $screen-xs-max) {
    border-left: none;
  }
}

@media(max-width: $screen-xs-max) {
  .ma-subnav__link {
    display: block;
    text-align: left;
    border: none;
    background-color: #FFFFFF;
    &.active {
      display: none;
      a,
      a:hover,
      a:active,
      a:focus {
        border:none;
      }
    }
  }
}




// My Account sub nav END



