@import "helpers";

.top-navigation__container {
  height: 120px;
  padding: 30px 15px;
  @media (min-width: $screen-md-min) {
    width: 100%;
    height: 120px;
    padding: 30px 15px;
  }
}

.top-navigation__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  @media (max-width: $screen-xs-max) {
    flex-direction: column;
  }
}

.top-navigation__menu-item {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  @include akkurat-bold;
  color: $gray-008;
  padding: 0 15px;
}

.top-navigation__brand-link {
  position: relative;
}
.top-navigation__brand-link:hover,
.top-navigation__brand-link:focus,
.top-navigation__brand-link:active {
  background-color: transparent;
}
.top-navigation__brand-link span {
  position: absolute;
  left: -9999px;
}

.top-navigation__menu-item a {
  color: $gray-008;
}

.top-navigation__menu-item a:hover,
.top-navigation__menu-item a:active,
.top-navigation__menu-item a:focus {
  text-decoration: none;
  background-color: transparent;
}
.nav li {
  margin-bottom: 0;
}
.nav a {
  cursor: pointer;
}


// .navbar--secondary unused except in style guide
.navbar--secondary {
  text-align: center;
  font-size: rem(18);
  margin-bottom: 45px;
}
.navbar--secondary .navbar-nav {
  float: none;
  display: inline-block;
}
.navbar--secondary .navbar-nav {
  @include wrapt-border(2px, 0, 2px, 0);
}
.navbar--secondary li a {
  color: $gray-010;
  padding: 24px 34px;
  margin: 0 16px;
  line-height: 1;
}
.navbar--secondary li:first-child a {
  margin-left: 0;
}
.navbar--secondary li:last-child a {
  margin-right: 0;
}
.navbar--secondary li a:hover,
.navbar--secondary li a:focus {
  color: $blue-002;
  @include wrapt-border(0, 0, 4px, 0);
}
.navbar--secondary li.active a {
  color: $blue-002;
  @include wrapt-border(0, 0, 4px, 0)
}
.gift-basket-count {
  background-color: $blue-004;
  padding: 5px 8px;
  margin-left: 4px;
  &.empty {
    display: none;
  }
}
.navbar-default .navbar-nav > li > a:hover .gift-basket-count,
.navbar-default .navbar-nav > li > a:focus .gift-basket-count,
.navbar-default .navbar-nav > li > a:active .gift-basket-count {
  color: $gray-008;
}
