.sqr-container {
  width: 80%;
  margin: 0 auto;
}

.sqr-container__header {
  text-align: center;
}

.sqr-question__container {
  margin-bottom: 100px;
  position: relative;
  padding: 40px;
}

.sqr-progress {
  border-bottom: 4px solid $blue-001;
  width: 120px;
}

.sqr-previous__link {
  width: 40px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -50px;
  margin-left: -40px;
  display: table;
}

.sqr-previous__icon {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.sqr-previous__sudo-link {
  position: absolute;
  width: 100px;
  height: 100%;
  border-radius: 50%;
  background-color: rgba($blue-001, 0.1);
  z-index: -1;
  top: 0px;
  left: 0px;
}

.sqr-previous__link:hover {
  width: 50px;
  margin-left: -50px;
  background-color: transparent;
  height: 105px;
}

.sqr-form label {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: rem(20);
  color: $gray-010;
}

.sqr-submit__container {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.sqr-submit__btn {
  margin-bottom: -24px;
}

.sqr-section-progress-bar {
  position: relative;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 40px;
}

.sqr-section-icon__container {
  width: 111px;
  height: 111px;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.sqr-section-icon__outer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFFFFF;
  padding: 8%;
  border: 1px solid $gray-005;
  display: table;
}

.sqr-section-icon__inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(209,217,232,0.10);
  border: 1px solid $gray-005;
}

.sqr-section-progress__container {
  border-radius: 5px;
  border: 1px solid $gray-005;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

.sqr-sections__left,
.sqr-sections__right {
  width: 50%;
  float: left;
  padding: 2px 4px;
}

.sqr-sections__right {
  text-align: right;
}

.sqr-section {
  height: 2px;
  float: left;
}

.sqr-section__label {
  float: left;
}

.sqr-section__progress {
  height: 100%;
  background-color: $tan-002;
}



