.landing-question form {
  text-align: center;
}
.question_response__multiple_choice_button {
}

.question_response__multiple_choice_button.selected {
  background-color: #F0E4B6;
}

[data-behavior~=hidden-option-id-inputs] {
  display: none;
}

[data-behavior~=option-explantion] {
  display: none;
}