// Zero out heading margin tops. BS sets margin-top on headings. This can mess with the margin cadence as often elements where we'd expect margins to collapse have an intervening dom node.
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
h1 {
  font-size: rem(40);
  margin-bottom: 16px;
  letter-spacing: 1px;
  line-height: 1.227272727;
}
h2 {
  font-size: rem(32);
  line-height: 1.23;
  margin-bottom: 24px;
  letter-spacing: 1px;
}
h3 {
  font-size: rem(28);
  line-height: 1.071428571;
  margin-bottom: 24px;
  letter-spacing: 1px;
}
.byline {
  @include akkurat-mono;
  font-weight: normal;
  margin-bottom: 56px;
}
h4 {
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 16px;
}
h5 {
  text-transform: uppercase;
  font-size: rem(18);
  line-height: 1.1;
  margin-bottom: 32px;
  letter-spacing: 2px;
  @include akkurat-regular;
}
p {
  margin-bottom: 16px;
  line-height: 1.75;
}
.lead {
  font-size: rem(20);
  line-height: 1.6; 
  margin-bottom: 16px;
}
.small {
  font-size: rem(14);
  line-height: 1.714285714;
  margin-bottom: 16px;
}
.help {
  font-size: rem(12);
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 8px;
  color: $gray-006;
}
b,
strong {
  @include akkurat-bold;
}
a:hover,
a:active {
  background-color: rgba(196, 210, 233, .2);
}
a:active {
  text-decoration: none;
}

.wrapt-highlight-text {
  background-color: rgba(196, 210, 233, .2);
  color: $blue-001;
}
.sqr-progress__small {
  font-size: rem(12);
  line-height: 1;
  margin-bottom: 10px;
  color: $gray-006;
  letter-spacing: 1.07px;
}
.sqr-section__label .small,
.small.wrapt-range__label,
.sqr-submit__keyboard-hint {
  font-size: rem(12);
  line-height: 1;
  letter-spacing: 1.07px;
  color: $gray-010;
  margin-bottom: 0;
}
.sqr-submit__keyboard-hint {
  color: $gray-006;
  margin-top: 6px;
}