@import "navs";
@import "buttons";
@import "icons";
@import "lists";
@import "forms";
@import "typography";
@import "image_gallery_manager";

.admin__actions,
.links__view-back {
  margin-top: 24px;
  margin-bottom: 24px;
}
.shadowed-box__01 {
  @include shadowed-box__01;
}
.form-panel__left {
  margin-top: 24px;
  padding-bottom: 18px;
}