@import "navs";
@import "buttons";
@import "icons";
@import "lists_tables";
@import "forms";
@import "typography";
@import "image_gallery_manager";
@import "gift_products";
@import "gift_question_impacts";
// @import "gift_images";

.admin__actions,
.links__view-back {
  margin-top: 24px;
  margin-bottom: 30px;
}
.admin__search {
  margin-bottom: 24px;
}
.shadowed-box__01 {
  @include shadowed-box__01;
}
.form-panel__left {
  margin-top: 24px;
  padding-bottom: 18px;
}
footer {
  margin-top: 36px;
}
text-right {
  text-align: right;
}
.modal-dialog {
  width: 800px;
}
