.slider-label,
.edit_training_set_product_question .slider-horizontal,
.edit_profile_set_survey_response .slider-horizontal {
  float: left;
}
.slider {
  float: left;
  display: block;
}
.slider-label {
  max-width: 140px;
}
.slider-label__min {
  margin-right: 10px;
}
.slider-label__max {
  margin-left: 10px;
}
.min-width-03 {
  min-width: 300px;
}
.help-inline {
  color: $alert-danger-text;}

.admin__conditional-question-fields {
  margin-bottom: 15px;
}