.slider-label,
.edit_training_set_product_question .slider-horizontal,
.edit_profile_set_survey_response .slider-horizontal {
  float: left;
}
.slider-label__min {
  margin-right: 10px;
}
.slider-label__max {
  margin-left: 10px;
}