.admin__impact-correlation-line-wrapper {
  text-align: center;
}

.admin__impact-correlation-range-line {
  width: 85%;
  border-top: solid 1px black;
  display: inline-block;
  vertical-align: middle;
}