i.multiple_choice,
i.multiple-choice {
  background-image: image-url('icons/multiple-choice.svg');
}
i.range {
  background-image: image-url('icons/slider.svg');
  display: inline;
}
i.text {
  background-image: image-url('icons/text-input.svg');
}