i.multiple_choice,
i.multiple-choice {
  background-image: image-url('icons/multiple-choice.svg');
}
i.range {
  background-image: image-url('icons/slider.svg');
  display: inline;
}
i.text {
  background-image: image-url('icons/text-input.svg');
}
#wrapt-logo .cls-1 {
  fill: $blue-001;
}
.footer__icon-wrapt-logo {
  height: 40px;
  margin-top: 60px;
}

.modal__icon-close{
  height: 16px;
  width: 16px
}