.admin-index-list li {
  margin-top: 18px;
}
.question-list__item,
.section-list__item {
  position: relative;
}

.section-list__item {
  list-style-type: none;
}

.section-list {
  padding-left: 20px;
}

.section-list__item .glyphicon-move {
  position: absolute;
  left: -20px;
  top: 2px;
}


.edit-question-list {
  list-style: lower-alpha;
}
.edit-question-list__item.question-list__item .glyphicon-move {
  // left: -38px; // aiyee magic numbers
  // top: 3px;
}
.question-list__icon {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 30px;
}
.question-list__icon.multiple_choice {
  background-size: 25px;
}
.question-list__edit-links,
.section-list__edit-links {
  margin-left: 24px;
  display: inline-block;
}
.ui-sortable-handle {
  cursor: pointer;
}

.question-list__section-header {
  margin-left: -40px;
}

.table > tbody > tr.question-list__empty-section-drop-target td {
  border-top: none;
}

.admin-index-table--image-cell {
  width: 120px;
  text-align: center;
}
.admin-index-table--image {
  max-height: 100px;
}
.admin-index-table--buttons-cell {
  min-width: 170px;
  text-align: center;
}
.admin-index-table--sku-cell {
  min-width: 160px;
}
.admin-index-table--item-title {
  margin-top: 0;
}
.admin-card-list__card {
  @extend .shadowed-box__01;
  padding: 18px 12px;
}