.row.ma-page-header
  .col-xs-12.col-sm-8.ma-page-header__title
    .ma-title.clearfix
      .ma-title__text.pull-left
        %h5= title
      .ma-title__action.pull-right
        = title_action
  .col-xs-12.col-sm-4.hidden-xs.ma-page-header__action
    = page_header_action