.row.admin__intro
  .col-sm-12
    %h1 Quizzes

.row.admin__actions
  .col-sm-12
    = link_to 'Create a New Quiz', new_survey_path, class: 'btn btn-primary'

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %th Name

      %tbody
        - @surveys.each do |survey|
          %td= link_to survey.title, survey
