%p
  Redirecting...

= form_for  [:admin, @gift_image], url: admin_gift_images_path(@gift), html: {data: {auto_submit_form: true}} do |form|
  = form.hidden_field :key

:javascript
  $('[data-auto-submit-form]')[0].submit()