.row
  .col-sm-12
    %h1 New Product


.row
  .col-sm-12
    %ul.nav.nav-tabs
      %li(role="presentation" class="active")= link_to 'Details', new_admin_product_path
      %li(role="presentation" class="disabled")= link_to 'Images', '#', disabled: true

.row
  .col-sm-8
    = render 'form'

    .links__view-back
      = link_to 'Back', admin_products_path
