-# just shows a list of a profile's survey_responses
-# Route has been removed but can be added for debugging
.container
  %table
    %tr
      %th Question
      %th Response
    - @profile.survey_responses.each do |sr|
      %tr
        %td{colspan: 2}= sr.id
      - sr.ordered_question_responses.each do |qr|
        %tr
          %td= qr.survey_question.prompt_with_substitutions(sr)
          %td
            - if qr.survey_question_response_options.any?
              = qr.survey_question_response_options.map{|o| o.survey_question_option.text}.join(', ')
            - else
              = qr.text_response || qr.range_response

  
