.gift-basket-overlay{data: {behavior: 'gift-basket-overlay'}}

.gift-basket{data: {behavior: 'gift-basket-container', profile_id: profile.id, channel_name: 'GiftSelectionsChannel'}}
  .gift-basket__inner-wrap
    = link_to "< Back to Shopping", '#', data: {behavior: 'close-gift-basket'}, class: 'gift-basket__header small', onClick: "ga('send', 'event', 'basket', 'open-close', 'close');" 
    .gift-basket__main
      %div{data: {behavior: 'gift-basket-gifts'}}
        = render 'gift_selections/index', profile: profile

    .gift-basket__footer
      %h4.gift-basket__footer__heading
        Subtotal
        %span.pull-right &#8212;
      %p.help.gift-basket__footer__text 
        We're not fulfilling orders during this testing period. Thank you for taking Wrapt for a spin! We hope you like what you found.
      

      -#= link_to 'SEND GIFT SELECTION NOTIFICATION', new_profile_giftee_invitation_path(profile), class: 'btn btn-primary btn-full-width btn-gift-basket-submit', data: {loads_in_pjax_modal: true, behavior: 'gift-basket-submit'}, onClick: "ga('send', 'event', 'basket', 'share with giftee', 'step 1 - button');"
      = link_to 'CHECK OUT COMING SOON', '#', class: 'btn btn-primary btn-full-width btn-gift-basket-submit'

      

- content_for :page_js do
  :javascript
    new App.GiftBasket()
