%h1 Thank You!

%p.lead.tan-002
  Thank you for participating in this Wrapt
  %sup.trademark
    &#8482;
  trial. Your participation and feedback will help to refine our better gifting promise, our collection and offerings for launch. 

%p.lead.tan-002
  With gratitude,
  %br
  Team Wrapt
  %sup.trademark
    &#8482;