%body{style: "background-color: #fff; font-family: Helvetica, Arial, sans-serif;"}
  %table{style: "background-color: #F2F5F9; max-width: 700px; margin: 0 auto;"}
    %tr
      %td{style: "padding: 40px;"}
        %h1{style: "font-size: 32px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: center;"} 
          Welcome to WRAPT
          %sup.trademark
            &#8482;

      %p{style: "text-align: center; font-size: 16px; color: #C5AA80; font-weight: bold; line-height: 1.75;"}
        Thank you for signing up.
        %br
        Your account is now active.


      = link_to "Try WRAPT Now", root_url, style: "display: block; background-color: #ABBAD5; color: #333; text-transform: uppercase; font-size: 12px; letter-spacing: 1.4px; padding: 16px; text-align: center; text-decoration: none; line-height: 1;"