%body{style: "background-color: #fff; font-family: Helvetica, Arial, sans-serif;"}
  %table{style: "background-color: #F2F5F9; max-width: 700px; margin: 0 auto;"}
    %tr
      %td{style: "padding: 40px;"}
        %h1{style: "font-size: 32px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; text-align: center;"}
          You're invited to try WRAPT

        %p{style: "text-align: left; font-size: 14px; color: #444; font-weight: normal; line-height: 1.75;"}
          Dear Friends,
        %p{style: "text-align: center; font-size: 16px; color: #C5AA80; font-weight: bold; line-height: 1.75;"}
          You have been invited as part of a small inner circle of friends and family, to preview our new platform for
          %em
            better gifting, 
          Wrapt.
        %p{style: "text-align: left; font-size: 14px; color: #444; font-weight: normal; line-height: 1.75;"}
          At Wrapt, we use the science of gifting and gratitude to help you get better gifts for the women (wives, daughters, friends, moms) in your life.
        %p{style: "text-align: left; font-size: 14px; color: #444; font-weight: normal; line-height: 1.75;"}
          What makes our gifts better?
        %p{style: "text-align: left; font-size: 14px; color: #444; font-weight: normal; line-height: 1.75;"}
          For one, we created a tool that uses technology to match who she is (personality, passions and purpose), to gifts in our collection. We also learned that women prefer handmade and artisanal gifts as well as gifts with impact like the stories behind the Makers of our gifts.
        %p{style: "text-align: left; font-size: 14px; color: #444; font-weight: normal; line-height: 1.75;"}
          So, Wrapt is almost ready as your own personal ‘gift whisperer’ to help you with gift occasions throughout the year. We chose you to help us test it out, because you’re our friend (or family member), have great style, and want to help with brands that do good in the world.
        %p{style: "text-align: left; font-size: 14px; color: #444; font-weight: normal; line-height: 1.75;"}
          All you have to do is:
        %ul{style: "text-align: left; font-size: 14px; color: #444; font-weight: normal; line-height: 1.75;"}
          %li Imagine a woman you need a gift for, 
          %li Answer a few questions about her,
          %li View the gifts we curated for her, and
          %li Let us know what you think.
        
        %p{style: "text-align: center; font-size: 16px; color: #C5AA80; font-weight: bold; line-height: 1.75;"}
          There’s no buying at this stage, we just want you to test-drive our site, let us know how it worked for you and share it with her so she can weigh in on the choices.  Simple. 
        
        %p{style: "text-align: left; font-size: 14px; color: #444; font-weight: normal; line-height: 1.75;"}
          We thank you in advance, (and so will she).
        = link_to "Click here to get started", @activation_url, style: "display: block; background-color: #ABBAD5; color: #333; text-transform: uppercase; font-size: 12px; letter-spacing: 1.4px; padding: 16px; text-align: center; text-decoration: none; line-height: 1;"