You're invited to try WRAPT
=====

Wrapt is a new gift-giving site dedicated to better gifting with artisanal items, memorable experiences and funds for wish lists in life.
_________________
How it Works:
* You answer a few questions about her personality, passions, and purpose.
* Based on your answers, we then match her with gifts from our curated collection.
* She receives a gift she loves, wrapt and delivered, and you will gain a 'gift whisperer' with all of her occasions.

_________________
For now, we're just testing and not sending actual gifts.
We'd love your help! Try Wrapt now:

= @activation_url
