You're invited to try WRAPT
=====

Dear Friends,
You have been invited as part of a small inner circle of friends and family, to preview our new platform for better gifting, Wrapt.

At Wrapt, we use the science of gifting and gratitude to help you get better gifts for the women (wives, daughters, friends, moms) in your life. 

What makes our gifts better? 

For one, we created a tool that uses technology to match who she is (personality, passions and purpose), to gifts in our collection that she will love. We also learned that women prefer handmade and artisanal gifts that have inspirations stories of impact behind them.

Now that Wrapt is almost ready as your own personal ‘gift whisperer’ to help you with gift occasions throughout the year, we need your help. We chose you to help us test it out, because you’re our friend (or family member), have great style, and want to help with brands that do good in the world.
_________________
All you have to do is:
* Imagine a woman you need a gift for, 
* Answer a few questions about her,
* View the gifts we curated for her, share those gifts with her to get her opinion, and
* Let us know what you think.

_________________
There’s no buying at this stage, we just want you to test-drive our site, let us know how it worked for you and share it with her so she can weigh in on the choices.  Simple. 

We thank you in advance, (and so will she).


Click here to get started:

= @activation_url
