%h1 
  WRAPT
  %sup.trademark
    &#8482;

%p 
  You're invited to try WRAPT
  =succeed ". " do
    %sup.trademark
      &#8482;
    To sign up click here:

%p= link_to @activation_url, @activation_url