You're invited to try WRAPT
=====

Wrapt is is the new better gifting platform designed to match who she is, to gifts she will love from a collection of artisanal items, memorable experiences and wishlist funds.
_________________
How it Works:
* You answer a few questions about her personality, passions, and purpose.
* Based on your answers, we then match her with gifts from our curated collection.
* She receives a gift she loves, wrapt and delivered, and you will gain a 'gift whisperer' that knows her who she is and can recommend gifts that she’ll love for future occasions.

_________________
For now, we're just testing and not sending actual gifts, but your input is invaluable!
Try Wrapt now:

= @activation_url
