.row
  .col-sm-12
    %h1 Edit Facet

.row
  .col-sm-8
    = render 'form', url: profile_traits_topic_facet_path(@topic, @profile_traits_facet)

    .links__view-back
      = link_to 'Back', profile_traits_topic_facets_path
