.container
  .row
    .col-md-8.col-md-offset-2
      %h1.tan-002.ph2.text-center
        Thank you!
      
      %p.text-center.tan-002.lead
        We appreciate your time.
        %br
        We'll be back in touch when we launch.