- if notice.present?
  .alert.alert-success.alert-dismissable{:role => "alert"}
    = sanitize notice, tags: %w/a/
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &#215;

- if alert.present?
  .alert.alert-danger.alert-dismissable{:role => "alert"}
    = sanitize alert, tags: %w/a/
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &#215;