.pb4.pt3
  .container
    .row
      .col-xs-12
        .table-display
          %ul
            %li
              2017 Wrapt All Rights Reserved
            %li
              Privacy Policy
            %li
              Terms &amp; Conditions