-# Open Graph tags for Facebook, Pinterest, Twitter
%meta{:content => "http://www.wrapt.com/", :property => "og:url"}/
%meta{:content => "Give Better, Give Wrapt.", :property => "og:title"}/
%meta{:content => "Wrapt is coming soon. Join our community of family and friends and be one of the first to try it.", :property => "og:description"}/
%meta{:content => asset_url('hero-image.jpg'), :property => "og:image"}/
%meta{:name => 'og:width', :content => 1440}
%meta{:name => 'og:height', :content => 742}
