%nav.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: ("active" if active_top_nav_section == 'home_pages')}= link_to "Wrapt", root_path
      %ul.nav.navbar-nav.pull-right
        - if current_user&.admin?
          %li= link_to "Admin", admin_root_path
        - if current_user
          %li= link_to "Sign Out", user_session_path, method: :delete
        - else
          %li= link_to 'Sign In', new_user_session_path
        

