= simple_form_for :copy, url: giftee_survey_response_copy_path(giftee, giftee.last_survey), html: {data: {submits_to_pjax_modal_two: true}} do |f|
  = f.submit 'GET FRESH SET OF RECOMMENDATIONS', class: 'btn btn-default btn-block ma-giftee-card__btn'